.square {
    width: 200px;
    height: 200px;
    position: relative;
    background: green;
}

.square2 {
    position: absolute;
    width: 200px;
    height: 200px;
    background: yellow;
    z-index: -1;
    top: 0;
}

p {
    text-align: center;
    height: 100%;
    padding-top: 54px; 
}