.tool-bar{   
    background: red;
    width: 200px;
    height: 200px;
    position: relative;
}
.side-bar{
    position: absolute;
    width: 200px;
    height: 200px;
    background: green;
    z-index: -1; 
    top: 0px;
}