* {
    padding: 0;
    margin: 0;
}

img{width: 100%;}

div{display: flex;}

.top{flex-direction: row;}

.logo{
    background-color: #48C8B0;
    width: 15%;
}

.main{
    width: 69%;
}

.audio{
    background-color: #3B0944;
    color: white;
    width: 15%;
}