* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    font-family: 'Cormorant Garamond', serif;
}
a {
    text-decoration: none;
}

li {
    list-style: none;
    padding: 25px;
}

.page{
    position: relative;
    margin: auto;
    background:  center / cover no-repeat url(/assets/background.jpg) ;
    max-width: 1270px;
    min-height: 100vh;
}
header{
   position: relative;
   display: flex;
   flex-direction: row;
   background: rgba(218, 226, 225, .55);
   height: 80px;
}
.top{
   margin: auto;
   margin-right: 100px;
}
ul{
    display: flex;
    flex-direction: row;
}
.logo{
    position: absolute;
    top: 30px;
    left: 25px;
}
main{
    height: calc(100vh - 160px);
    overflow-y: scroll;
}
.conteiner , .last-conteiner{
    margin-top: 50px;
    padding: 20px;
}
.conteiner-one{
    height: 50px;
   background: rgba(255, 255, 255, .80);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    margin-top: 30px;
}
.idea{
   margin-top:10px;
   margin-left:20px;
}
.one{
    margin-right: 16px;
    margin-top: 16px;
    color: #507376;
    font: 700 9px 'Cormorant Garamond', serif;
}
.conteiner-text {
    background-color: rgba(166, 226, 227, .67);
    padding: 25px;
    color: #363636;
}
h2{
    font: 900 20px 'Cormorant Garamond', serif;
    margin-bottom: 10px;
}
p{
    font: 500 15px 'Cormorant Garamond', serif;
    text-align: justify;
}
.two{
    margin-right: 16px;
    margin-top: 16px;
    color: #507376;
    font: 700 9px 'Cormorant Garamond', serif;
}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: white;
    width: 100%;
    height: 80px;
    display: flex;
}
.bottom{
    margin: auto;
}

@media (min-width:768px) and (max-width:1023px){
    header{
        display: none;
    }
    .page{
        height: 100vh;
    }
    .top{
        display: block;
    }
    main{
        height: auto;
        overflow-y: visible;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .conteiner{
        width: 300px;
        margin: 20px 20px;
    }
    .last-conteiner{
        width: 100%;
        margin: 20px 20px;
    }
}
@media (min-width:1024px) {
    footer{
        display: none;
    }
    .top{
        display: block;
    }
    .page{
        height: 100vh;
    }
    main{
        height: auto;
        overflow-y: visible;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .conteiner, .last-conteiner{
        width: 300px;
        margin: 20px 20px;
    }
}

