* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    background: #FFFCEF;
    max-width: 100%;
    height: 100vh;
    margin: auto;
}
header {
    background: rgb(5, 238, 180);
        
        max-width: 100%;
        min-height: 10vh;
        color: rgb(255, 255, 255);
        text-align: center;
    }
    .button {
        float:right;
    font: 700 16px "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    margin-top:10px;
    margin-right:32px;
    padding: 10px 20px;
    color: black;
    background: #FFFCEF;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.30);
    cursor: pointer;
    /* transition: linear .2s; */
}
.button:hover {
    color:white;
    background: #62d7f7;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.30);
}
.center {
    background: #FFFCEF;
    max-width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: row;
}
.center-left {
    
    background: rgb(2, 48, 21);
    width: 20em;
    padding: 10px 22px;
    flex: 0 0 auto;
    }
    .center-right {
        
        background:white;
        width: 63em;
        padding: 10px 22px;
        flex: 0 0 auto;
        margin-top:20%;
        }
        .center-left p {
            font-weight: 700;
            color: white;
            font-size: 12px;
            margin-left: 24%;
            margin-top: -9%;
        }
        .material-icons {
            color:white;
            width:3%;
            height: 3%;
            margin-top:15%; 
            margin-left:12%;    
        }
        
        a {
            font-family: "Roboto Condensed", sans-serif;
            font-weight: 700;
            color:#2f2f2f;
            
            margin: 24px;
        }
        a .text:first-child {
            color: rgb(75, 74, 74);
            font-size: 12px;
            margin-left: 60%;
        }
        
        a .text:nth-child(2) {
            color: rgb(75, 74, 74);
            font-size: 12px;
            margin-left: 60%;
        }
        
        a .text:last-child {
            color: rgb(75, 74, 74);
    font-size: 12px;
    margin-left: 60%;
        }

        .tool-bar {
            margin-top: 30%;
            width: 50px;
            margin-left:-8%;
            height: 35px;
            background: blue ;
            position: relative;
            padding-top:4%;
          }
          
          .side-bar {
            padding-top:20%;
              content:Facebook;
            position: absolute;
            background: blue;
            width: 80px;
            height: 35px;
            top:0;
            margin-left:-180%;       
            transition:ease-in .15s;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;   
          }

          .tool-bar1 {
            margin-top: 0%;
            width: 50px;
            margin-left:-8%;
            height: 35px;
            background: blue ;
            position: relative;
            padding-top:4%;
          }
          
          .side-bar1 {
            padding-top:20%;
              content:Linkedin;
            position: absolute;
            background: blue;
            width: 80px;
            height: 35px;
            top:0;
            margin-left:-180%;       
            transition:ease-in .15s;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;   
          }
    