* {
    margin: 0;
    padding: 0;
} 
.conteiner{
    background: url(background.jpg);
    background-size: 100%;
    width: 100%;
    background-repeat: no-repeat; 
    height: 1200px;
    justify-content: center;
    display: flex;
}
.info{
    width: 50%;
    height: 20%;
    padding: 10px;
    margin: auto;
    display: flex;
}
.blok{
    width: 60%;
    height: 100%;
    background: rgba(14, 63, 70, 0.53);
    padding: 30px;
    display: flex;
}
h1{
    text-align: center;
}
p{
    font-size: 15px;
    color: #C7C4C5;
}
.one{
    display: flex;
    position: relative;
    flex-direction: row;
    top: 10px;
    left: 60px;
}
img{
    width: 5%;
    height: 5%;
    margin-right: 10px;
}
.two{
    display: flex;
    position: relative;
    flex-direction: row;
    top: 40px;
    left: 60px;
}
.three{
    display: flex;
    position: relative;
    flex-direction: row;
    top: 60px;
    left: 60px;
}
h1 .text:first-child {
    color: rgb(228, 227, 233);
    font-weight: 400;
    font-size: 20px;
    color: #C7C4C5;
}
h1 .text:nth-child(2) {
    color: rgba(155, 154, 160, 0.671);
    font-weight: 400;
    font-size: 10px;
    margin-top: 10px;
    color: #C7C4C5;
}
h1 .text:last-child {
    color: #C7C4C5;
    font-weight: 400;
    font-size: 10px;
    padding: 4px;
    margin-top: 80px;
    color: #C7C4C5;
}

.sign{
    background: #0E3F46;
    width: 40%; 
    height:100%;
    padding: 30px;
    display: flex;
}
.sign h2{
    color: rgb(228, 227, 233);
    font-weight: 400;
    font-size: 20px;
    width: 100%;
    height: 30px;
}
.name{
    display: flex;
    position: relative;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 10px;
}
.name img{
    width: 10%;
    height: 10%;
}
.name input{
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    background: #0E3F46;
    border-bottom-width: 1px;
    font-weight: 400;
    font-size: 11px;
}
.mail{
    display: flex;
    position: relative;
    flex-direction: row;
    margin-top: 30px;
    margin-left: 10px;

}
.mail img{
    width: 10%;
    height: 10%;
}
.mail input{
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    background: #0E3F46;
    border-bottom-width: 1px;
    font-weight: 400;
    font-size: 11px;
}
.phone{
    display: flex;
    position: relative;
    flex-direction: row;
    margin-top: 30px;
    margin-left: 10px;
}
.phone img{
    width: 10%;
    height: 10%;
}
.phone input{
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    background: #0E3F46;
    border-bottom-width: 1px;
    font-weight: 400;
    font-size: 11px;
}
.signer input{
    width: 200px;
    height: 40px;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 15px;
    font-weight: 400;
    font-size: 24px;
}
