* {
    padding: 0;
    margin: 0;
}

body{
    background: #E9E8E3;
}

header{
    background: red;
    font-family: 'Molle', cursive;
    flex: auto;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 2%;
}

a{
    font-family: 'Roboto Slab', serif;
    color: white;
    text-decoration: none;
    align-items: center;
    padding: 2px;
}

h1{
    font-family: 'Abel', sans-serif;
    flex: auto;
    display: flex;
    justify-content: flex-end;
    text-transform: uppercase;
}

span{
    color:black;
}
.cause{
    color: red;
    size: 400 86px;
}