* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    background: url(../img/background.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 140vh;
    margin:auto;
    transform: scale(-1, 1); 
    display: flex;
    justify-content: center;
}
.infobox {
    width: 60%; 
    height:40%;
    padding: 10px; /* Поля вокруг текста */
    margin: auto;
    display: flex;
    transform: scale(-1, 1);
}
.form-box {
    background: rgba(14, 63, 70, 0.53);
    width: 60%; 
    height:100%;
    padding: 40px; /* Поля вокруг текста */
    display: flex;
}
 .one {
    background: url(../img/graph-line-screen.png);
    background-size:100%;
    background-repeat: no-repeat;
    width:5%;
    height:10%;
    margin-left:35%;
    margin-top:3%;
}
.second {
    background: url(../img/management.png);
    background-size:100%;
    background-repeat: no-repeat;
    width:5%;
    height:10%;
    margin-left:35%;
    margin-top:3%;
}
.third {
    background: url(../img/progress-report.png);
    background-size:100%;
    background-repeat: no-repeat;
    width:5%;
    height:10%;
    margin-left:35%;
    margin-top:3%;
}
 p {
     color:#C7C4C5;
    font-weight: 400;
    font-size: 14px;
    margin-left:42%;
    margin-top:-6%;

}

.text {
    margin-bottom:0px;
}
h1 .text:first-child {
    color: #C7C4C5;
    font-weight: 400;
    font-size: 24px;
}
h1 .text:nth-child(2) {
    color: #C7C4C5;
    font-weight: 400;
    font-size: 12px;
    margin-left: 4%; 
    margin-top:6%;  
}
h1 .text:last-child {
    font-weight: 400;
    font-size: 12px;
    color: #C7C4C5;
    padding:4px;
    margin-left: 3%;
    margin-top:10%;
}






 .sign-in{
    background: #0E3F46;
    width: 40%; 
    height:100%;
    padding: 40px; /* Поля вокруг текста */
    display: flex;
}
.sign-in h1 {
    color: #C7C4C5;
    font-weight: 400;
    font-size: 24px;
}
.name {
    background: url(../img/user.png);
    background-size:100%;
    background-repeat: no-repeat;
    width:10%;
    height:10%;
    margin-left:-40%;
    margin-top:25%;
    padding-left:20px;
}
.name input {
    margin: 10px;
    border-bottom-color: #C7C4C5;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    background: rgba(14, 63, 70, 0.53);
    margin-left: 500%;
    padding:-5px;
    width: 6000%;   
}

::placeholder {
    background: rgba(14, 63, 70, 0.53);
    margin-left: 5%;
    color: white;
}
.mail {
    background: url(../img/new-email-envelope.png);
    background-size:100%;
    background-repeat: no-repeat;
    width:10%;
    height:10%;
    margin-left:-10%;
    margin-top:50%;
    padding-left:20px;
}
.mail input {
    margin: 10px;
    border-bottom-color: #C7C4C5;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    background: rgba(14, 63, 70, 0.53);
    margin-left: 500%;
    padding:-5px;
    width: 6000%;   
}
.phone {
    background: url(../img/icon.png);
    background-size:100%;
    background-repeat: no-repeat;
    width:10%;
    height:10%;
    margin-left:-10%;
    margin-top:75%;
    padding-left:20px;
}
.phone input {
    margin: 10px;
    border-bottom-color: #C7C4C5;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    background: rgba(14, 63, 70, 0.53);
    margin-left: 500%;
    padding:-5px;
    width: 6000%;   
}
.submit {
    margin-top:100%;
    margin-right: 20%;

}
.submit input {
    color: black;
    font-weight:400;
    margin-left: -25%;
    font-size: 24px;
    background: #C7C4C5;
    width:420%;
    height:6vh;
    border:none;
    border-radius: 3px;
}