* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

 .header, .sidebar, .menu {
    display: flex;
}

.page {
    height: 100vh;
    max-width: 1024px;
}
.header {
    width: 100vw;
    height: 10%;
    background: #7cefa2;
    flex-direction: row;
    justify-content: flex-end;
}
.button{

}


.sidebar {
    background: #003d14;
    width: 20%;
    height: 100vh;
    flex-direction: column; 
}

.social {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.menu {
    flex-direction: column;
    margin: 25%;
}

.menuitems {
    align-content: center;
}

.icon-f {
    width: 130px;
    cursor: pointer;
    position: relative;
    left: 110px;
    background: #4267b2;
    display: flex;
}

.icon-f img {
    justify-content: flex-end;
}

.icon-f span {
    margin: auto;
}

/* .icon-f:hover {
    background: #4267b2;
    left: 0;
} */
