* {
    margin: 0;
    text-decoration: none;
    padding: 0;
    box-sizing: border-box;
    max-width: 1366px;
    margin: auto;
}

.page {
    display: block;
    font-family: 'Roboto Condensed', sans-serif;

    /* display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; */
}

header, footer {
    display: flex;
    background: #323232;
    height: 75px;
    width: 100vw;
    flex-direction: row;
}

.h-container, .f-container {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.social-box {
    display: flex;
    flex-direction: row;
}

.nav, .name {
    display: flex;
    flex-direction: row;
    max-width: 100%;
}

.text1, .text2 {
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 500;
}

.text1 {
    color: #ea5b5b;
}

.text2 {
    color: whitesmoke;
}
.name:hover .text2 {
    color: black;
}
.name:hover {
    background: #fae9e9;
}

.nav-item {
    font: 400 16px "Roboto Condensed", sans-serif;
    margin: auto;
    color: white;
    padding: 5%;
}

.nav-item:hover {
    color: black;
    margin: auto;
    padding: 5%;
    background: #fae9e9;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.30);
}

.landing {
    display: flex;
    background: url(../img/woman.jpg);
    height: 450px;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    flex-direction: column;
}

.textbox {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}
.goshop-button {
    margin-left: 100px;
}
.textline1 {
    margin-left: 0;
    font-size: 48px;
    color: whitesmoke;
}
.textline2 {
    margin-left: 0;
    font-size: 24px;
    color: black;
}
.textline3 {
    margin-left: 0;
    font-size: 36px;
    color: whitesmoke;
}
.goshop-button button {
    text-transform: uppercase;
}

.store {
    display: flex;
    flex-direction: row;
    height: 450px;
    max-width: 1366px;
    margin: auto;
    background-color: #e0dedf;
}

.dis-item {
    margin-top: 2%;
    margin-bottom: 2%;
}

.s-item {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 380px;
    height: 420px;

}

.picture {
    display: flex;
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
    box-shadow: 0 2px 3px rgba(128, 128, 128, 0.27);
    
    
}

.picture img {
    background-size: cover;
    position: absolute;
    width: 100%;
    
}

button { 
    background: #a83037;
    border: none;
    width: 130px;
    height: 45px;
    color: whitesmoke;
    font: 400 16px "Roboto Condensed", sans-serif;
    cursor: pointer;

}

.s-button {
    margin-left: 0;
}
button:hover  {
    background: #fae9e9;
    color: black;
}
i {
    position: absolute;
    border-radius: 50%;
    background: black;
    color: rgb(255, 255, 255);
    margin-left: 250px;
    margin-top: -95px;
    cursor: pointer;
}
.table {
    position: absolute;
    font-size: 12px;
    /* display: none; */
}
/* i:hover .table {
    display: table;
} */

.social-box {
    display: flex;
    display: row;
    margin: 1%;
}
.logo img {
    width: 80%;
}