* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    background-image: url(../img/background.jpg);
    height: 100vh;
    font-family: 'Merriweather', serif;  
    background-repeat: no-repeat;
}
header{
    width: 100%;
    height: 80px;
    background:rgba(218, 226, 225, .55);
    
}

.first{
    display: flex;
    width: 300px;
    height: 300px; 
     
}