* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.conteiner { /* задаем всей странице поведение Flex */
    display: flex;
    flex-direction: row;
}

.block1 {
    height: 100vh; /*вниз на всю страницу*/
    width: 15%; /*шырина блока*/
    display: flex;
    flex-direction: column; /*все элименты блока вертикально с верху вниз */
    background: rgba(50, 54, 53, 0.11);
}

.block1-1 {
    height: 15%; /*высота блока*/
    display: flex;
    justify-content: center; /*Флекс элимент выравниваеться по центру но при этом прижиматься левее*/
    align-items: center;/*смомогательный Флекс по центру*/
    background-color: #48C8B0; 
}

.block1-2 {
    
}

.block1-3 {
    display: flex;
    flex-direction: column;
}

.block1-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0px 0px 0px;
}

ul.block1-4 a:link, a:visited {
    text-decoration: none;
}

ul.block1-4 span {
    margin: 5%;
    color: #323635;
    font-size: 18px;
    font-family: Quicksand;
    font-weight: 300;
}

ul.block1-4 {
    list-style-type: none;
}

ul.block1-4 li {
    margin: 10px;
    padding: 10px;
    width: 70%;
    border-bottom: 2px solid rgba(50, 54, 53, 0.11);
}

.block2 {
    height: 100vh; /*вниз на всю страницу*/
    width: 70%; /*шырина блока*/
    display: flex;
    flex-direction: column; /*все элименты блока вертикально с верху вниз */
}

.block2-1 {
    display: flex;
    justify-content: space-between;
    height: 15%;
    background-color: white;
    display: flex;
    flex-direction: row;
}

.block2-1-1 {
    display: flex;
    justify-content: center;
}

.header {
    display: flex;
    align-items: center;
    padding: 25px;
}

header.header h1 {
    font-size: 24px;
    font-family: Quicksand;
    font-weight: 700;
    color: #323635;
}

header.header span{
    margin: 0px 15px -6px;
    font-size: 14px;
    font-family: Quicksand;
    font-weight: 400;
    color: #B0B0B0;
}

.block2-1-2 {
    display: flex;
    align-items: center;
    position: relative;
    margin: 0 10% 0 0;
}

.block2-1-3 {
    position: absolute;
    top: 37%;
    left: 60%;
    background: #CC6060;
    padding: 4px 5px;
    font-size: 9px;
    border-radius: 50%;
}

.block2-2 {
    height: 40%;
    background: url(..//img/today-song.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    box-shadow: 0 0 0 50em rgba(0, 0, 0, 0.5) inset;
}

.block2-2-1 {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.block2-2-2 {
    font-size: 24px;
    font-family: Quicksand;
    font-weight: 700;
    color: white;
}

a {
    text-decoration: none;
}


.button {
    margin-top: 30px;
    background:  rgba(255, 255, 255, 0.55);
    padding-top: 6px;
    padding-left: 13px;
    height: 34px;
    width: 120px;
    border-radius:14px;
    color: #323635;
    font-family: Quicksand;
    font-weight: 700;
    cursor: pointer;
}

.block2-2-3 {
    margin-top: 15px;
    font-size: 36px;
    font-family: Quicksand;
    font-weight: 900;
    color: white;
}

.block2-2-4 {
    margin-top: 15px;
    font-size: 16px;
    font-family: Quicksand;
    font-weight: 300;
    color: white;
}

.block2-3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.block2-3-1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.block2-3-2 {
    margin-left: -10px;
    font-size: 24px;
    font-family: Quicksand;
    font-weight: 600;
}

.block2-3-3 {
    margin: 6px 20px;
    font-size: 16px;
    font-family: Quicksand;
    font-weight: 400;
    color: #B0B0B0;
}

div.block2-3-1 {
    margin: 20px;
    padding: 10px;
    border-bottom: 2px solid rgba(50, 54, 53, 0.11);
} 

.block2-3-4 {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    margin: 20px;
    padding: 10px;
}

div.block2-3-4 img {
    width: 15%;
    height: 15%;
}

.block3 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 15%;
    background: #630C64;
}

.block3-1 {
    height: 15%;
    display: flex;
    align-items: center;   
    background: #3B0944;
    padding: 0 20%;
}

div.block3-1 span {
    font-size: 16px;
    font-family: Quicksand;
    font-weight: 500;
    color: white;
    padding: 0 10%;
}

.block3-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.block3-2-1 {
    display: flex;
    flex-direction: column;
    margin-top: 20%;
    width: 200px;
}

div.block3-2-1 span {
    font-size: 16px;
    font-family: Quicksand;
    font-weight: 500;
    color: white;
}

.block3-2-2 {
    width: 170px;
    height: 10px;
    background: linear-gradient(to right, #430f46 65%, #531154 35%);
    border-radius: 25px;
    margin-top: 5%;
} 

.block3-2-3 {
    margin-top: 10%;
}

div.block3-2-3 span{
    margin: 0 63px 0 33px;
    font-size: 16px;
    font-family: Quicksand;
    font-weight: 500;
    color: white;
}

.block3-2-4 {
    display: flex;
    justify-content: center;
    margin-left: -10%;
}

.block1111 {
    width: 170px;
    height: 10px;
    background: linear-gradient(to right, #430f46 50%, #531154 50%);
    border-radius: 25px;
    margin-top: 5%;

}

div.block3-2-5 span {
    font-size: 16px;
    font-family: Quicksand;
    font-weight: 500;
    color: white;
}

.block3-2-5 {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    width: 200px;
}

.block3-2-6 {
    width: 170px;
    height: 10px;
    background: linear-gradient(to right, #430f46 85%, #531154 15%);
    border-radius: 25px;
    margin-top: 5%;
}

.block3-2-7 {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    width: 200px;
}

div.block3-2-7 span {
    font-size: 16px;
    font-family: Quicksand;
    font-weight: 500;
    color: white;
}

.block3-2-8 {
    width: 170px;
    height: 10px;
    background: linear-gradient(to right, #430f46 70%, #531154 30%);
    border-radius: 25px;
    margin-top: 5%;
}