* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

body{
    background: #19282C;
    display: flex;
    flex-direction: row;
    font-family: 'Playfair Display', serif;
    max-width: 853px;
}

.card{
    margin: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 340px;
    box-shadow: 0px 0px 37px rgba(0, 0, 0, 0.41);
}

img{ width: 106%;}

.foto{
    width: 35%;
    height: 367px;
}

.form{
    background: white;
    width: 64%;
    height: 340px;
    align-items: center;
    padding: 2%;
    font-family: 'Playfair Display', serif;
}

h1, h2, p{font-family: 'Playfair Display', serif;}
h1{ font: 700 24px 'Playfair Display'; }
h2{ font: 900 20px 'Playfair Display'; }
p{
    margin-top: 5px;
    color: #252525;
    font: 400 11px 'Playfair Display'; 
}

.mail{
    font: 700 11px 'Playfair Display'; 
}

button {
    background: none;
    border: none;
    cursor: pointer;
    height: 30px;
    border-radius: 15px;    
    width: 150px;
    font-family: 'Playfair Display', serif;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
}

.facebook{
    background: #4469B0; 
    float: left;
}
.twitter{background: rgba(16, 111, 188, 0.78);}

form{
    display: inline-block;
}

input{font-family: 'Playfair Display', serif;}

.placeholder{
    border-bottom-width: 2px;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-top: 10px;
    margin-right: 15px;
    margin-bottom: 10px;
    width: 180px;
}

.checkbox{
    color: #ccc;
    margin-top: 10px;
    margin-right: 3px;
    color: rgba(0, 0, 0, 0.24);
    font-size: 10px;
}

.radio{
    font-family: 'Playfair Display', serif;
    margin-top: 5px;
    margin-right: 17px;
    font: 700 11px 'Playfair Display'; 

}

label{
    margin-right: 20px;
    font: 400 15px 'Playfair Display';
}

.submit{
    display: block;
    background-color: #1F5B75;
    color: white;
    border: none;
    border-radius: 50px;
    width: 65px;
    height: 25px;
    margin-top: 15px;
    margin-left: 156px;
    cursor: pointer;
}
