* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background: url(../assets/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.container {
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
}

.card {
    width: 900px;
    height: 400px;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.info {
    width: 60%;
    height: 100%;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
    background: rgba(14, 63, 70, 0.53);
}

h1 {
    font-size: 36px;
    font-stretch: condensed;
    font-weight: 400;
}

.info p {
    font-size: 12px;
    margin-left: 15%;
    margin-right: 10%;
}

.info p:first-of-type {
    margin-bottom: 25px;
    margin-top: 20px;
}

.info p:last-child {
    margin-top: 40px;
}

ul {
    list-style: none;
}

ul li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.info ul li:first-child:before {
    content: url(../assets/graph-line-screen.png);
}

.info ul li:nth-child(2):before {
    content: url(../assets/management.png);
}

.info ul li:last-child:before {
    content: url(../assets/progress-report.png);
}

i {
    margin-left: 5px;
}

.sign-in {
    width: 40%;
    height: 100%;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
    background: #0E3F46;
}

.sign-in h1 {
    margin-right: 149px;
}

.button {
    font-size: 24px;
    font-weight: 400;
    color: #0E3F46;
    border-radius: 5px;
    width: 275px;
    height: 50px;
    background: #C7C4C5;
    transition: linear 0.2s;
    cursor: pointer;
    font-stretch: condensed;
}

.button:hover {
    background: white;
}

input {
    border: none;
    outline: none;
}

input[type=text] {
    color: white;
}

input:focus::placeholder {
    opacity: 0; 
    transition: opacity 0.3s ease;
}

input[type=text]::placeholder {
    color: white;
    padding-bottom: 4px;
}

.input {
    font-size: 12px;
    font-weight: 400;
    margin-left: 10px;
    width: 100%;
    background: #0E3F46;
    padding-left: 10px;
    border-bottom: 1px solid #C7C4C5;
}

.inputs {
    margin-top: 37px;
    width: 275px;
}
