* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page {
    height: 100vh;
    background: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input {
    width: 900px;
    height: 350px;
    display: flex;
    flex-direction: row;
}

.information {
    width:60%;
    height: 100%;
    background-color: rgba(14, 63, 70, 0.53);
    display: flex;
    flex-direction: column;
    border-radius: 5px 0px 0px 5px;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #C7C4C5;
    margin-bottom: 10px;
}

img {
    width: 15px;
}

.text-aling {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    color: #C7C4C5;
    margin-bottom: 15px;
}

div.text-aling img {
    margin-top: 15px;
}

p {
    font-size: 11px;
    color: #C7C4C5;
}

.authorization {
    width: 40%;
    height: 100%;
    background-color: #0E3F46;
    border-radius: 0px 5px 5px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    color: #C7C4C5;
    font-size: 32px;
    margin: 0 0 3% 10%;
}

input[type="text"] {
    background: #0E3F46;
    outline: none;
    border: none;
    border-bottom: 1px solid #C7C4C5;
    padding: 5px;
    color: #C7C4C5;
    width: 80%;
    margin-left: 10px;
    transition: border-bottom 0.3s linear 0s;
}

input[type="text"]:focus {
    border-bottom: 1px solid rgb(255, 255, 255);
}

input[type="submit"] {
    border: 1px solid #C7C4C5;
    background-color: #C7C4C5;
    color: #0E3F46;
    width: 80%;
    font-size: 20px;
    border-radius: 5px;
    height: 50px;
    padding: 5px 10px;
    margin-left: 40px;
    cursor: pointer;
    transition: background-color 0.4s linear 0s;
}

input[type="submit"]:hover {
    border: 1px solid rgb(240, 240, 240);
    background-color: rgb(240, 240, 240);
}

.inline {
    margin: 0px 10px 30px 40px;
}

