* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 180vh;
  font-family: "Cormorant Garamond", serif;
}
body {
  overflow: auto;
  background: center / cover no-repeat url(img/background.jpg);
  background-attachment: fixed;
}
img {
  width: 100%;
}

a {
  text-decoration: none;
  color: #000;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

input {
  background: none;
  border: none;
}

li {
  list-style: none;
}
/* _______________________________________________ */
.page {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.logolink{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 30px;
    left: 10px;
}
.nav-mob {
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: #fff;
  z-index: 30;
  bottom: 0;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav a {
  padding: 25px;
  font-weight: 900;
  color: #000;
}
header {
  width: 30%;
  /* background-color: rgba(218, 226, 225, 0.55); */
  height: 80px;
  position: relative;
  /* display: flex; */
}
.head-nav{
    display: none;
}
header img {
  width: 35px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(50%, 75%);
}
section {
  margin: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}
.content {
  margin: auto;
  margin-top: 90px;
  margin-bottom: 10px;
  width: 80%;
  max-width: 350px;
  max-height: 275px;
  min-height: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.12);
}
.content-first-box {
  background-color: rgba(255, 255, 255, 0.8);
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.content-first-box img {
  width: 20px;
  height: 20px;
  display: block;
  padding: 0px;
  margin: 10px;
}
.content-first-box a {
  display: block;
  margin: 10px;
}

.content-second-box {
  width: 100%;
  height: 80%;
  background-color: rgba(166, 226, 227, 0.67);
}
h2{
    font-size: 18px;
    font-weight: 700;
    color: #363636;
    padding: 6px;
}
p{
    color: #363636;
    font-size: 14px;
    padding: 6px;
}

.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 3;
  display: flex;
  background-color: rgba(218, 226, 225, 0.55);
}
@media (min-width: 521px) and (max-width: 900px) {
  .nav-mob {
    display: none;
  }
  section {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 30%;
    margin: 0 20px;
  }
  .content {
    margin-left: 0;
    margin-right: 0;
  }
  .third {
    width: 100%;
    margin-top: 0px;
    max-width: 100%;
    margin: 0px 0px;
  }
  .head-nav{
     display: block;
  }
}
@media (min-width: 901px) and (max-width: 3000px){
    .head-nav{
        display: block;

    }
    body{
        height: 100vh;
    }
    header{
        width: 50%;
    }
    .nav-mob{
        display: none;
    }
    section{
        flex-direction: row;
    }
}