* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.section-box {
  display: flex;
  justify-content: center;
  min-height: 1500px;
}
/* first column------------------------------ */
.first-column {
  display: flex;
  flex-direction: column;
  width: 15%;
  background-color: #f2f2f2;
}
.logo {
  height: 78px;
  background-color: #48c8b0;
}
.logo img {
  width: 120px;
  display: block;
  margin: auto;
  margin-top: 20px;
}
.nav {
  margin: auto;
  margin-top: 20px;
}
.nav img {
  width: 16px;
}
.nav a {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  text-decoration: none;
  color: #323635;
  padding-left: 9px;
}
.button {
  margin: 20px;
  border-bottom: 1px solid rgba(50, 54, 53, 0.11);
}
.button:hover{
  background-color: #ecebeb;
}
/* second column----------------------------- */
.second-column {
  display: flex;
  flex-direction: column;
  width: 70%;
}
.top-second h1 {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 24px;
  flex: auto;
  max-width: 66%;
  padding: 24px 24px;
  display: inline-block;
}
.top-second span {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  color: #323635;
}
.iconmessage {
  display: inline-block;
  margin-left: 600px;
  position: relative;
}
.messcount {
  width: 16px;
  height: 16px;
  background-color: red;
  border-radius: 8px 8px 8px 8px;
  position: absolute;
  left: 60%;
  bottom: 70%;
}
.messcount span {
  margin: 8px 6px;
  color: white;
  font-size: 10px;
}
.top-second {
  height: 78px;
}
.todaysong {
  background: url(img/today-song.jpg);
  background-size: cover;
  height: 250px;
  position: relative;
}
.todaysong:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.todaysong-top-layout {
  position: absolute;
  z-index: 1;
  font-family: "Quicksand", sans-serif;
  left: 50%;
  margin-left: -230px;
}
.todaysong-top-layout h2 {
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}
.buttonbox {
  font-weight: 700;
  width: 150px;
  height: 35px;
  border-radius: 77px 77px 77px 77px;
  background-color: rgba(255, 255, 255, 0.788);
  margin: auto;
  margin-bottom: 20px;
  position: relative;
}
.buttonbox:hover {
  background-color: rgba(255, 255, 255, 1);
}
.buttonbox a {
  text-decoration: none;
  color: #323635;
  text-align: center;
  padding-top: 8px;
  font-weight: 700;
  display: block;
}
.todaysong-top-layout h3 {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
}
.todaysong-top-layout h4 {
  font-size: 18px;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  color: white;
  text-align: center;
}
.coll-head {
  margin: 20px 10px;
  padding: 20px 10px;
  border-bottom: 1px solid rgba(50, 54, 53, 0.11);
}
.coll-head h2 {
  font-family: "Quicksand", sans-serif;
  font-size: 24px;
  color: #323635;
  font-weight: 400;
  display: inline;
}
.coll-head span {
  color: #b0b0b0;
  margin: 0 10px;
  font-weight: 400;
  font-family: "Quicksand", sans-serif;
}
.coll-albums {
  display: flex;
  min-height: 200px;
  flex-direction: row;
  flex-wrap: wrap;
}
.alb {
  margin: 15px;
}
.alb img {
  width: 120px;
  height: 120px;
}

/* third column------------------------------ */
.third-column {
  display: flex;
  flex-direction: column;
  width: 15%;
  background-color: #630c64;
}
.top-third {
  height: 78px;
  background-color: #3b0944;
}
.audio-logo {
  margin: 0px 40px;
  height: 78px;
  position: relative;
}
.audio-logo img {
  width: 30px;
  margin-top: 30px;
  position: absolute;
}
.audio-logo p {
  font-weight: 500;
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  color: white;
  padding: 20px 5px 0px 0px;
  margin: 10px 5px;
  display: inline-block;
  position: absolute;
  right: 20%;
}
.settings {
  margin: auto;
  margin-top: 20px;
}
h6 {
  font-family: "quicksand", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: white;
  display: inline-block;
}

.range-box {
  margin: 20px 0px;
}
.range-box span {
  margin-left: 66px;
  font-family: "quicksand", sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-align: right;
  color: white;
}
.range {
  margin: 10px 0px;
  width: 125px;
  height: 6px;
  background-color: rgba(59, 9, 68, 0.7);
  border-radius: 7px 7px 7px 7px;
}
.rvol {
  background-color: #3b0944;
  height: 6px;
  width: 50%;
  border-radius: 7px 7px 7px 7px;
}
.rchan {
  background-color: #3b0944;
  height: 6px;
  width: 40%;
  border-radius: 7px 7px 7px 7px;
}
.rlow {
  background-color: #3b0944;
  height: 6px;
  width: 80%;
  border-radius: 7px 7px 7px 7px;
}
.rhigh {
  background-color: #3b0944;
  height: 6px;
  width: 20%;
  border-radius: 7px 7px 7px 7px;
}
