* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.top {
    height: 10%;
    background: gray;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.button {
    font: 600 16px 'Gamja Flower', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    padding:10px 20px;
    color: #2b2b2b;
    background: #22B2DA;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.30);
    cursor: pointer;
    margin-right: 3%;
}

.button:hover {
    color:white;
    background: #62d7f7;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.30);
}

.bottom {
    display: flex;
    flex-direction: row;
}

.menu {
    width: 15%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    background-color: khaki;
}

.emptiness {
    width: 85%;
    background-color: aquamarine;
}

.main-menu {
    margin-left: 35%;
    margin-top: 30%;
    display: flex;
    flex-direction: column;
    /* text-align:left; */
    /* line-height: 200%; */
}

nav.main-menu a:link, a:visited {
    width: 46%;
    text-decoration: none;
    cursor: pointer;
    margin: 1%;
    font-family: 'Gamja Flower', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #393939;
    position: relative;
}

nav.main-menu a:hover {
    color: blueviolet;
    font-size: 28px;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.30);
}

nav.main-menu a:first-child::before {
    content: '\ straighten';
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    position: absolute;
    left: -30%; 
}

nav.main-menu a:nth-child(2):before {
    content: '\ phonelink_erase';
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    position: absolute;
    left: -30%; 
}
 
nav.main-menu a:last-child:before {
    content: '\ call_merge';
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    position: absolute;
    left: -30%; 
}

.facebook { 
    margin-top: 10%;
    position: relative;
    cursor: pointer;
    background: #6D6DDF;
    width: 24px;
    left: 0;
    transition: left 0.5s ease-out;
    border-radius: 0 8px 8px 0;
}

.instagram {
    margin-top: 5%;
    position: relative;
    cursor: pointer;
    background-color: #22B2DA;
    border-radius: 0 8px 8px 0;
    width: 24px;
    left: 0;
    transition: left 0.5s ease-out;
}

.facebook:before {
    position: absolute;
    font: 600 16px 'Gamja Flower', sans-serif;
    content: "Facebook";
    background: #6D6DDF;
    left: -80px;
    height: 28px;
    width: 80px;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

.facebook:hover {
    left: 80px;
}

.instagram:before {
    position: absolute;
    font: 600 16px 'Gamja Flower', sans-serif;
    content: "Facebook";
    background-color: #22B2DA;
    left: -80px;
    height: 28px;
    width: 80px;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

.instagram:hover {
    left: 80px;
}
