/* Отчистка браузера от стандартой стилизации элементов HTML */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  font-family: "Noto Serif KR", sans-serif;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

input {
  background: none;
  border: none;
}

li {
  list-style: none;
}

/*_______________________________________________*/

.flex {
  display: flex;
  flex-direction: row;
}

.flex-auto {
  flex: auto;
}

.page {
  background: #31302a;
  color: #fffdf3;
  min-height: 100vh;
}

.container {
  max-width: 1280px;
  margin: auto;
}

header {
  height: 80px;
  font-weight: 600;
  padding: 0 24px;
  background: #fdce00;
  color: #31302a;
}

.header-container {
  max-width: 1280px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  height: inherit;
}

.header-container .logo {
    font: 800 28px/13px 'Noto Serif KR';
    color: #fffdf3;
}
.navigation li {
  margin-left: 12px;
  cursor: pointer;
}
.navigation a {
    color: #31302a;
}

main {
  padding: 24px;
}

.post-box {
    max-width: 600px;
    margin: auto;
}

.title,
.subtitle,
.thumbs,
.text {
  margin-bottom: 16px;
}

.title {
  font-size: 28px;
}

.subtitle {
  color: #e4ba00;
  font-size: 14px;
}

.thumbs {
  width: 100%;
  box-shadow: 0 6px 46px 1px rgba(0, 0, 0, 0.14);
}

.text {
  line-height: calc(14px * 2);
}

.download-box a {
    color: #8950c3;
    font-weight: 800;
    cursor: pointer;
}