/* Отчистка браузера от стандартой стилизации элементов HTML */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  font-family: "Noto Serif KR", sans-serif;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

input {
  background: none;
  border: none;
}

li {
  list-style: none;
}

/*_______________________________________________*/

.flex {
  display: flex;
  flex-direction: row;
}

.flex-auto {
  flex: auto;
}

.page {
  position: relative;
  color: #fffdf3;
  min-height: 100vh;
  overflow: hidden;
}

.container {
  max-width: 1280px;
  margin: auto;
}

.video-background {
  position: absolute;
  min-width: 100vw;
  min-height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
}

header {
  height: 90px;
  font-weight: 600;
  padding: 0 24px;
}

.header-container,
.footer-container {
  justify-content: space-between;
  align-items: center;
  height: inherit;
}

.header-container .logo {
  font: 800 28px/13px "Noto Serif KR";
  width: 48px;
  height: 48px;
  background: #343135;
  padding: 24px;
}

.footer-container {
  position: absolute;
  width: 100%;
  align-items: stretch;
  background: rgba(255, 255, 255, 0);
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 0),
    rgba(0, 0, 0, 1)
  );
  background: -moz-linear-gradient(
    top,
    rgba(255, 255, 255, 0),
    rgba(0, 0, 0, 1)
  );
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(0, 0, 0, 1)
  );
  padding: 24px;
  bottom: 0;
}

.title,
.subtitle {
  margin-bottom: 16px;
}

.title {
  font-size: 28px;
}

.subtitle {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
}

.navigation {
  height: 100%;
}

.navigation li {
  margin-left: 24px;
  align-self: flex-end;
  cursor: pointer;
}

.navigation a {
  color: #fffdf3;
}

@media (min-width: 768px) {
  .subtitle {
    max-width: 380px;
  }
}

@media (min-width: 1024px) {
  header {
    padding: 0 48px;
    height: 140px;
  }
}
