/* Отчистка браузера от стандартой стилизации элементов HTML */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
    height: 100vh;
    font-family: "Noto Serif KR", sans-serif;
  }
  
  img {
    width: 100%;
  }
  
  a {
    text-decoration: none;
  }
  
  button {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  input {
    background: none;
    border: none;
  }
  
  li {
    list-style: none;
  }
  
  /*_______________________________________________*/
  
  .flex {
    display: flex;
    flex-direction: row;
  }
  
  .flex-auto {
    flex: auto;
  }
  
  .page {
    position: relative;
    color: #fffdf3;
    min-height: 100vh;
  }

  .page-blur-background {
    background: center / cover no-repeat url('../media/video-placeholder.jpg');
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0;
    top:0;
    z-index: -1;
    filter: blur(15px);
  }
  
  .container {
    max-width: 1280px;
    margin: auto;
  }
  
  header {
    height: 90px;
    font-weight: 600;
    padding: 0 24px;
    color: #fffdf3;
  }
  
  .header-container {
    justify-content: space-between;
    align-items: center;
    height: inherit;
  }
  
  .header-container .logo {
    font: 800 28px/13px 'Noto Serif KR';
  }
  
  .navigation li {
    margin-left: 12px;
    cursor: pointer;
  }

  .navigation a {
    color: #fffdf3;
  }
  
  main {
    padding: 24px;
  }
  
  .post-box {
      max-width: 600px;
      margin: auto;
  }
  
  .title,
  .subtitle,
  .thumbs,
  .text {
    margin-bottom: 16px;
  }
  
  .title {
    font-size: 28px;
  }
  
  .subtitle {
    color: #4f3c5a;
    font-size: 14px;
    font-weight: 800;
  }
  
  .thumbs {
    width: 100%;
    box-shadow: 0 6px 46px 1px rgba(0, 0, 0, 0.14);
  }
  
  .text {
    line-height: calc(14px * 2);
  }
  
  .download-box a {
    color: #ffd769;
    font-weight: 800;
    cursor: pointer;
  }

  @media (min-width:1024px) {
    header {
      padding: 0 48px;
      height: 140px;
    }
  }