* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #FFFCEF;
}

.container {
    width: 1120px;
    margin: auto;
    height: 100vh;
    overflow: hidden;
    
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5%;
}

.logo {
    width: 40%;
}
.logo img {
    width: 200px;
}

.menu {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.nav {
    display: flex;
    align-items: center;
}

nav.nav a:link, a:visited {
    text-decoration: none;
    margin: 25px;
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #393939;
} 

.logo-link {
    width: 100px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

div.logo-link a img {
    width: 20px;  
}

.language {
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 11px;
    font-weight: 700;
    color: #393939;
}

div.language a:link, a:visited {
    text-decoration: none;
}
.button {
    width: 95px;
    height: 23px;
    cursor: pointer;
    background-color: #D2EBCD;
    border-radius: 12px 12px 12px 12px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.10);
}

.button:hover {
    background-color: rgb(152, 167, 149);
}

div.button a:link, a:visited {
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #393939;
    padding: 0 0 0 15px;
}

.page-down {
    display: flex;
    flex-direction: row;
    position: relative;
}

.picture {
    width: 50%;
}

.picture img {
    width: 500px;
    margin-top: 200px;
    position: absolute;
    z-index: 2;
}

.square {
    width: 400px;
    height: 400px;
    margin-top: 150px;
    background-color: #4C7188;
    position: relative;
    z-index: -1;
    transform: rotate(150deg);
}

.rectangle {
    width: 1100px;
    height: 170px;
    background-color: #D2EBCD;
    position: absolute;
    z-index: 0;
    margin-top: 490px;
    margin-left: 60px;
    transform: rotate(3deg);
}


.main {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.text {
    margin-top: 60px;
}

div.text h1 {
    color: #FF7F5B;
    font-size: 36px;
    font-weight: 700;
    font-family: 'Quicksand', sans-serif;
}

.big-text {
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    letter-spacing: 1px;
    margin-top: 20px;
}

.lite-text {
    font-size: 11px;
    font-weight: 700;
    font-family: 'Quicksand', sans-serif;
    color: rgba(71, 70, 70, 0.18);
}

.box {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    width: 500px;
    height: 100px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
}

.date {
    flex: auto;
    border-right: 1px solid rgba(57, 57, 57, 0.18);
}

div.date h3 {
    font-size: 24px;
    font-weight: 700;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

div.date p {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 14px;
    color: rgba(57, 57, 57, 0.18);
}

div.date2 h3 {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

div.date2 p {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 14px;
    color: rgba(57, 57, 57, 0.18);
}

.date2 {
    flex: auto;
}

.footer {
    margin-top: 40px;
    width: 1120px;
    display: flex;
    justify-content: flex-end;
    position: absolute;
}

div.logo-down img {
    position: absolute;
    z-index: 1;
    margin-top: 100px;
    right: 0;
    width: 200px;
}