* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    background: #e0e0e0;
}

img {
    width:100%;
}

a {
    text-decoration: none;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

li {
    list-style: none;
}
/*____________________________________________________*/

.container form {
    width: 400px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

input {
    margin: 10px 0;


    /*width:100%*/
}