* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    font-family: 'Quicksand', sans-serif;
}
.page{
    background:#FFFCEF;
    height: 120vh;
}
a {
    text-decoration: none;
    color: inherit;
}
.header{
    margin: auto;
    max-width: 1120px;
    height: 20vh;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    position: relative;
    z-index: 3;
}
.top-logo{
    width: auto;
    margin-left: 5%;
}
.imglogo{
    height: 60px;
}
.top-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20%;
    width: 60%;
    justify-content: space-between;
    margin-right: 5%;
}
.lang-switcher, .question, .nav {
    color: #393939;
}
.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 400;
    width: 25%;
}
.social{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 15%;
}
.socimg{
    width:auto;
    max-height:16px;
}
.lang-switcher{
    display: flex;
    flex-direction: row;
    align-items: center; 
    font-size: 11px;
    font-weight: 700;
}
.lang-english{
    border-right: 1px solid rgba(57, 57, 57, 0.18);
    padding-right: 1em;
}
.lang-espanol{
    padding-left: 1em;
}
.question {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 100px;
    background-color:#D2EBCD;
    border-radius: 16px;
    font-size: 12px;
    font-weight: 700;
    box-shadow: 0 0 20px rgba(163, 89, 89, 0.1);
}
.content{
    margin: auto;
    max-width: 1120px;
    display: flex;
    flex-direction: row;
}
.img-content{
    margin-left: 5%;
    width: 50%;
    z-index: 3;
}
.main-img{
    margin-top: 5%;
    height: auto;
    max-width: 70%;
    z-index: 3;     
}
.background-block-1{
    position: absolute;
    z-index: 2;
    background: #D2EBCD;
    height: 150px;
    width: 850px;
    transform: rotate(5deg);
    margin-left: 10%;
    bottom: 22%;
}
.background-block-2{
    position: absolute;
    z-index: 1;
    background: #4C7188;
    height: 300px;
    width: 300px;
    transform: rotate(-45deg);
    margin-left: 5%;
    bottom: 35%;
}
.background-block-3{
    position: absolute;
    z-index: 0;
    background: white;
    height: 100px;
    width: 1000px;
    margin-left: 5%;
    bottom: 25%;
}
.text-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 3;
}
.main-title{
    font: 700 36px 'Quicksand', sans-serif;
    color: #FF7F5B;
    padding-bottom: 5%;
    letter-spacing: -1px;
}
.main-subtitle{
    font: 700 24px 'Quicksand', sans-serif;
    color: #393939;
    padding-bottom: 5%;
    letter-spacing: -1px;
}
.main-text{
    font: 700 11px 'Quicksand', sans-serif;
    color: rgba(57, 57, 57, 0.18);
    padding-bottom: 15%;
}
.info-counter{
    display: flex;
    flex-direction: row;
    background: white;
    padding: 28px 42px;
    box-shadow: 0 0 5px rgba(0,0,0,0.05);
}
.counter, .counter-last{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 28px;
}
.counter{
    border-right: 2px solid rgba(57, 57, 57, 0.18);
}
.counter-value{
    font-size: 24px;
    font-weight: 700;
}
.counter-title{
    font-size: 14px;
    font-weight: 700;
    color: rgba(57, 57, 57, 0.18);
}
.bottom{
    margin: auto;
    max-width: 1120px;
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.bottom-logo{
    margin-right: 10%;
    padding-bottom: 2%;
}
.bottom-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 45%;
    justify-content: space-between;
    margin-right: 5%;
}