.start {
    width: 200px;
    height: 200px;
    background: yellowgreen;
    position: relative;
  }
  
  .go {
    position: absolute;
    width: 200px;
    height: 200px;
    background: fuchsia;
    top:0;
    z-index: -1;
    transition:ease-in .15s;
  }