﻿/*Что бы стилизировать именно тот элемент который нам нужно, нам необходимо к нему обратиться.
Обратиться к элементу можно несколькими способами.Эти способы не заменяют друг друга, как например
тег style можно заменить отдельным документом CSS - каждый имеет свой уровень приоритетности*/

/*1.Обращение к элементам по группам тега.*/
/*Данный способ будет указывать на то, что ВСЕ <p></p> на странице будут применять данную стилизацию
  и имеет самую низкую приоритетноть.
*/
p {
    font-size: 24px;
    /*color:green;*/
}


/*Обращение по классу, используя атрибут class.Обратите внимание, что он приоритетнее, чем группа тега */

.headings {
    color: white;
    background: #9C27B0;
}

/*Обращение по id. Уникальный id может быть только у одного элемента и его особенность
заключается в том, что он может полностью заменить значения свойств, которые были определены 
ранее с помощью класса или группы тега.
Обратите внимание, что он не удаляет ВСЕ предыдущие настройки, а заменяет ранее добавленные.
То есть можно сказать, что id имеет наивысшую приоритетность.
*/

#main-paragraph {
    color:red;
    font-size:9px;
}

#main-heading {
    font-weight: bold;
    color: black;
}

/*НО! Обратите внимание, что атрибут style="" (<p style="...">, не путать с тегом <style>) в состоянии переопределить даже те свойства, которые были добавлены, через id*/


/*В CSS присутсвует особый селектор, который обращается абсолютно ко всем элементам на странице, включая html и body.
Вот он:*/

* {

}

/*Полный список CSS правил:
https://webref.ru/css*/