* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Playfair Display', serif;
}

body {
    background: #19282C;
}

.page {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.container {
    margin: auto;
    display: flex;
    flex-direction: row;
    width: 900px;
    height: 62%;
    background: white; 
    box-shadow: 0px 0px 37px rgba(0, 0, 0, 0.41);
}

.pic-box {
    background: url(../vorobiov/assets/form-side.png);
    width: 360px;
    background-size: 100%;
    background-repeat: no-repeat;
}

.form-box {
    width: 60%;
    margin: 30px 20px 30px 25px;
    display: flex;
    flex-direction: column;
    
}

.welcom-text h1 {
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 20px;
    
}

.welcom-text p {
    font-size: 16px;
    font-weight: 400;
    margin-top: 15px;
}

.or-text {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 15px;
}

.soc-buttons {
    display: flex;
    margin: 5%;
}

.fb-button, .tw-button {
    display: flex;
    width: 230px;
    height: 35px;
    margin: 10px;
    border-radius: 30px;
    justify-content: center;
}

.fb-button a, .tw-button a {
    font-size: 11px;
    font-weight: 700;
    margin: auto;
    color: white;
    font-family: 'Lato', sans-serif;
}

.fb-button {
    background: #4469B0;
}

.fb-button:hover {
    background: rgba(68, 105, 176, 0.78);
}

.tw-button {
    background: #106FBC;
}

.tw-button:hover {
    background: rgba(16, 111, 188, 0.78);
}

.or-text {
    font-size: 11px;
    font-weight: 700;
}

.reg-data {
    display: flex;
    justify-content: space-around;
    width: 85%;
    justify-items: center;
    
}

.email-field, .pass-field {
    border: none;
    border-bottom: solid 2px rgba(0, 0, 0, 0.14);
    font-size: 11px;
    font-weight: 400;
}

.question-box h2 {
    font-size: 16px;
    font-weight: 900;
    margin-top: 15px;
}

.question-box p {
    font-size: 9px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 5px;
}

.answs-box {
    font-weight: 700;
    font-size: 11px;
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin-bottom: 20px;

}
/* .radio {

    position: absolute;
    opacity: 0;
    cursor: pointer;

    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
} */

.submit-box {
    display: flex;
    flex-direction: column;
}

.agree {
    color: rgba(0, 0, 0, 0.14);
    font-weight: 400; 
    font-size: 11px;
    margin-top: 15px;
}

.submit-button {
    display: flex;
    width: 130px;
    height: 35px;
    margin: 25px;
    border-radius: 30px;
    justify-content: center;
    background: #106FBC;
}

.submit-button a {
    font-size: 11px;
    font-weight: 700;
    margin: auto;
    color: white;
    font-family: 'Lato', sans-serif;
}
    
.submit-button:hover {
        background: rgba(16, 111, 188, 0.78);
}