* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.page {
    width: 100%;
    height: 100%;
    background: #19282C;
}

.content {
    max-width: 900px;
    height: 100%;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.card {
    width: 100%;
    height: 600px;
    font-family: 'Playfair Display', serif;
    box-shadow: 0px 0px 37px rgba(0, 0, 0, 0.41);
}

.img {
    background: url(../assets/form-side.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    width: 45%;
    height: 100%;
}

.white-form {
    background: white;
    width: 55%;
    height: 100%;
}

.text-form {
    padding-left: 60px;
    height: 100%;
    justify-content: center;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    font-size: 24px;;
    font-weight: 900;
}

.st1 {
    font-size: 12px;;
    font-weight: 400;
    margin: 15px 0;
}

.st1-2 {
    font-size: 11px;;
    font-weight: 700;
    margin-top: 20px;
}

.button {
    font: 400 11px 'Lato', serif;
    padding: 8px 16px;
    border-radius: 15px;
    color: white;
}

ul li:first-child .button {
    background: #4469B0;
}

ul li:first-child .button:hover {
    background: rgba(68, 105, 176, 0.78);
    transition: linear 0.3s;
}

ul li:last-child .button {
    background: #106FBC;
    margin-left: 18px;
}

ul li:last-child .button:hover {
    background: rgba(16, 111, 188, 0.78);
    transition: linear 0.2s;
}

input {
    border: none;
    outline: none;
}

input[type=text] {
    border-bottom: 1px solid rgba(0, 0, 0, 0.24);
    width: 170px;
    padding-bottom: 4px;
    padding-left: 10px;
}

input[type=text]::placeholder {
    color: rgba(0, 0, 0, 0.24);
    font-size: 11px;
    font-weight: 400;
}

form input[type=text]:nth-of-type(2) {
    margin-left: 25px;
    margin-top: 20px;
}

h3 {
    font-size: 16px;
    font-weight: 900;
    margin-top: 30px;
}

.st2 {
    font-size: 9px;
    font-weight: 400;
    margin-top: 10px;
}

label {
    font-size: 9px;
    font-weight: 400;
    cursor: pointer;
}

.five-radios {
    margin-top: 30px;
}

.five-radios label {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.five-radios label:first-child {
    margin-left: 0;
}

.five-radios label p {
    margin-left: 10px;
}

.radio {
    display: flex;
    justify-content: flex-start;
    position: absolute;
    width: 13px;
    height: 13px;
    border: 2px solid #252525;
    border-radius: 100%;
    background: white;
}

.radio::before {
    position: absolute;
    content: '';
    height: 7px;
    width: 7px;
    border-radius: 50%;
    bottom: 1px;
    right: 1px;
}

input[type=radio]:checked ~ .radio::before {
    background: #106FBC;
}

input[type=radio]:checked ~ .weight {
    font-weight: 900;
}

.c-checkbox {
    margin-top: 80px;
}

.c-checkbox label p {
    margin: 0;
    padding-left: 5px;
    color: rgba(0, 0, 0, 0.24);
}

.c-checkbox label {
    display: flex;
    align-items: center;
    position: relative;
}

.checkbox {
    position: absolute;
    width: 14px;
    height: 14px;
    border: 1px solid rgba(0, 0, 0, 0.14);
    background: white;
}

.checkbox:before {
    content: "";
    position: absolute;
    display: none;
    width: 3px;
    height: 7px;
    border: solid rgba(0, 0, 0, 0.14);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    right: 3px;
    bottom: 3px;
}

input[type=checkbox]:checked ~ .checkbox:before {
    display: block;
}

input[type=submit] {
    width: 120px;
    background-color: #106FBC;
    border-radius: 20px;
    margin-top: 40px;
    cursor: pointer;
}

input[type=submit]:hover {
    background: rgba(16, 111, 188, 0.78);
    transition: linear 0.2s;
}