* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

header, .navigation, .logo-social, .languages, 
.ask, main, .data, .statistic, footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background: #FFFCEF;
}

.container {
    max-width: 1120px;
    margin: auto;
}

header {
    height: 170px;
    justify-content: center;
}

main {
    height: 70vh;
}

footer {
    height: 120px;
}
text-box{
    flex: 1;
}
.picture {
    position: relative;
    flex: 1;
}
.students {
    position: absolute;
    z-index: 3;
    width: 80%;
}

.logo-social {
    
}

.main-text {
    justify-content: flex-end;
}

.square {
    background: #4C7188;
    height: 500px;
    width: 500px;
    position: absolute;
    z-index: 2;
    transform: rotate(55deg);
}

.rectangle {
    background: #D2EBCD;
    height: 250px;
    width: 1120px;
    position: absolute;
    z-index: 1;
    transform: rotate(15deg);
    justify-self: baseline;
}