* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.background {
    display: flex;
    background: url(../pinkevych/img/background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
    background-position: center;
}
.main-container {
    display: flex;
    flex-direction: row;
    margin: auto;
    max-width: 1200px;
}
h2 {
    color: white;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 10px;
    font-size: 32px;

}
p {
    color: white;
    font-size: 13px;
    width: 400px;
}
ul {
    list-style: none;
    color: white;
    font-size: 13px;
    padding: 15px;
    margin: 20px 0 20px 0;
}
li {
    display: flex;
    position: relative;
    padding: 10px;
    height: 40px;
    align-items: center;
}
ul li:first-child::before {
    content: url(../pinkevych/img/graph-line-screen.png);
    position: absolute;
    width: 24px;
    height: 24px;
    left: -30px;
}
ul li:nth-child(2)::before {
    content: url(../pinkevych/img/management.png);
    position: absolute;
    width: 24px;
    height: 24px;
    left: -30px; 
}
ul li:last-child::before {
    content: url(../pinkevych/img/progress-report.png);
    position: absolute;
    width: 24px;
    height: 24px;
    left: -30px; 

}
.info-container {
    display: flex;
    flex-direction: column;
    flex: 60%;
    background-color: rgba(14, 63, 70, 0.53);
    justify-content: flex-start;
    align-items: center;
    padding: 40px;
    width: 750px;
    height: 450px;
}
.sign-container {
    display: flex;
    flex-direction: column;
    flex: 40%;
    background-color: #0E3F46;
    padding: 40px 0 0 40px;
}
.info-input {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
input[type="text"] {
    width: 280px;
    background-color: #0E3F46;
    border: none;
    outline: none;
    border-bottom: solid 1px white;
    margin: 14px;
    padding-bottom: 5px;
    margin-left: 15px;
    color: white;
}
input::placeholder {
    color: rgba(255, 255, 255, 0.541);
}
input[type="submit"] {
    background-color: #C7C4C5;
    width: 320px;
    height: 60px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    outline: none;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 26px;
}
.input-container {
    display: flex;
    align-items: center;
    padding: 10px 0 10px 0;
}