*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.page{
    background-color: #19282C;
    width: 100%;
    height: 100vh;
    display: flex;
    font-family: 'Playfair Display', serif;
}
.content{
    margin: auto;
    display: flex;
    width: 750px;
    height: 500px;
    box-shadow:0px 0px 33px -8px rgba(0,0,0,0.75);
    background-color: white;
}
.img{
    width: 40%;
    background: url(assets/form-side.png);
    background-size: cover;
    background-position: center;
}
.inputs{
    width: 59%;
    display: flex;
    flex-direction: column;
}
h1{
    font-size: 24px;
    font-weight: 900;
    margin: 30px 0 25px 40px;
}
p{
    font-size: 12px;
    font-weight: 400;
    margin: 0px 0 10px 40px;
}
.button{
    background-color: blue;
    color: #fff;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    padding: 8px 9px;
    padding-bottom: 10px;
    border-radius: 50px;
    font-size: 11px;
    letter-spacing: 1px;
    margin: 0 20px 0 0;
    transition: background-color 0.1s linear 0s;
}
.facebook{
    background-color: #4469B0;
    
}
.facebook:hover{
    background-color:rgba(68, 105, 176, 0.78);
}
.twitter:hover{
    background-color:  rgba(16, 111, 188, 0.78);
}
.twitter{
    background-color: #106FBC;
    
}
.buttons{
    margin: 1% 8%;
    margin-bottom: 18px;
}
.mail{
    font-weight: 700;
}
input[type="text"]{
    background-color: #fff;
    outline: none;
    border:none;
    border-bottom: 1px solid grey;
    padding: 5px;
    color: #106FBC;
}
form{
    margin-left:8%;
    margin-top: 5%;
}
h2{
    margin: 30px 0px 0px 0px;
    font-weight: 900;
    font-size: 1
}
form p{
    margin: 10px 0px 0px 0px;
    font-weight: 700;
    font-size: 9px;
}
/* radios */
.radio-container{
    display: inline-block;
    position: relative;
    cursor: pointer;
    font-size: 8px;
    user-select: none;
    padding-left: 20px;
    padding-top: 2px;
    margin: 0px 10px;
}
.radio-container input{
    display: none;
}
.radio-container .circle{
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: #eee;
    box-shadow: inset 0px 0px 0px 2px rgba(0,0,0,1);
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
}
.radio-container:hover .circle{
    background-color: #ccc; 
}
.radio-container input:checked + .circle{
background-color: white;
}
.radio-container input:checked + .circle::after{
    content: "";
    height: 8px;
    width: 8px;
    background-color: #106FBC;
    position: absolute;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.radios{
    margin: 10px 0px;
}
.agreebox span{
    color:  rgba(0, 0, 0, 0.7);
    font-weight: 400;
    font-size: 8px;
}
.check-container input{
    display: none;
     
}
.check-container{
    display:inline-block;
    padding-left: 30px;
    position: relative;
    cursor: pointer;

}
.check-container .checkmark{
    display: inline-block;
    width: 14px;
    height: 14px;
    background-color: #eee;
    position: absolute;
    left: 6px;
    top: 6px;
    border-radius: 3px;
}
.check-container input:checked + .checkmark{
    background-color: #106FBC;
}
.check-container:hover + .checkmark{
    background-color: #ccc;
}
.agreebox{
    margin-top: 15%;
}
input[type="submit"]{
    border: 1px solid #106fbc;
    background-color: #106fbc;
    color: white;
    width: 30%;
    font-size: 11px;
    border-radius: 50px;
    height: 28px;
    padding: 5px 10px;
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
    font-family: 'lato',sans-serif;
    transition: background-color 0.1s linear 0s;
}
input[type="submit"]:hover{
   background-color:  rgba(16, 111, 188, 0.78);
   border: 1px solid rgba(16, 111, 188, 0.78);
}