.tool-bar {
    width: 200px;
    height: 200px;
    background: #FDC9F4;
    position: relative;
}
  
.side-bar {
    position: absolute;
    width: 200px;
    height: 200px;
    background: #C9D9FD;
    top:0;
    z-index: -1;
    transition:ease-in .15s;
}

p{
    font-family: 'Gamja Flower', cursive;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.material-icons{
    display: flex;
    justify-content: center;
    font-size: 50px;
    line-height: 4;
}