* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Quicksand', sans-serif;
}

/* HEADER...................................................... */
header {
    display: flex;
    height: 100px;
}

.left-header {
    flex: 1;
    background: #48C8B0;
    display: flex;
}

.left-header img {
    height: 60px;
    margin: auto;
    align-items: center;

}
.center-header {
    flex: 3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.header-name {
    font-size: 24px;
    padding-left: 32px;
    font-weight: 700;

}
.country-name {
    font-size: 14px;
    color: #B0B0B0;
    padding-left: 32px;
    font-weight: 400;
}
.msg-box {
    padding-right: 60px;
    margin-left: auto;
    display: flex;
}

.msg-box img {
    position: relative;
}

.msg-number {
    background: #CC6060;
    position: absolute;
    margin-left: 20px;
    color: white;
    border-radius: 50%;
    border: 2px solid white;
}

.right-header {
    flex: 1;
    background: #3B0944;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.right-header p {
    color: white;
    font-size: 16px;
    font-weight: 500;
}
.right-header img {
    margin: 35px;
    height: 35px;
}


/* MAIN......................................... */
main {
    display: flex;
    height: 100vh;
 
}
/* MAIN LEFT........................................................*/
.left-main {
    flex: 1;
    background: #f9f9f9;
}

.menu {
    width: 70%;
    margin: auto;
    padding-top: 10%;
}
.menu-item {
    display: flex;
    border-bottom: 1px solid rgba(50, 54, 53, 0.11);
    padding-top: 12px;
    padding-bottom: 8px;
    font-size: 14px;
    
}
.menu-item img {
    height: 15px;
    margin-right: 15px;
}

.menu-item a {
    color: #B0B0B0;
}

/* MAIN RIGHT.........................................................*/
.right-main {
    flex: 1;
    background: #630C64;
}

.sound-settings {
    width: 70%;
    margin: auto;
    padding-top: 12px;
}

.set-vol, .set-balance, .set-low, .set-high {
    color: white;
    font-size: 14px;
    font-weight: 300;
    padding-top: 8px;
    padding-bottom: 12px;
}

.set-balance {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.vol-line {
    height: 8px;
    background: linear-gradient(to right, #430f46 50%, #531154 50%);
    border-radius: 8px; 
}
.bal-line {
    height: 8px;
    background: linear-gradient(to right, #430f46 80%, #531154 20%); 
    border-radius: 8px;  
}
.low-line {
    height: 8px;
    background: linear-gradient(to right, #430f46 70%, #531154 30%); 
    border-radius: 8px;
}
.hig-line {
    height: 8px;
    background: linear-gradient(to right, #430f46 90%, #531154 10%); 
    border-radius: 8px;
}

/* MAIN CENTER.........................................................*/
.center-main {
    flex: 3;
}

.new-song {
    display: flex;
    justify-content: center;
    background: url(../img/today-song.jpg);
    background-size: 100%;
    height: 62%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 0 0 50em rgba(0, 0, 0, 0.5) inset;
}

.center-title {
    font-size: 24px;
    font-weight: 700;
    color: white;
}

button {
    margin-top: 32px;
    height: 32px;
    width: 100px;
    background-color:rgba(255, 255, 255, 0.55);
    border-radius: 16px;
    font-size: 14px;
    font-weight: 700;
    color: #323635;
}

.center-song {
    font-size: 36px;
    font-weight: 700;
    color: white;
    padding-top: 30px;

}

.center-year {
    margin-top: 16px;
    font-size: 18px;
    font-weight: 300;
    color: white;
}

.albums {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tabs {
    width: 92%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 2px solid rgba(50, 54, 53, 0.11);
    padding-bottom: 12px;
}

.collections {
    color: #323635;
    font-size: 24px;
    font-weight: 400;
}

.awesome {
    padding-left: 24px;
    color: #B0B0B0;
    font-size: 16px;
    font-weight: 400;
}

.albums-covers {
    padding-top: 12px;
    display: flex;
    flex-direction: row;
}

.cover {
    padding: 15px;
}

.cover img {
    max-height: 140px;
}
..
/* .tabs {
    flex: 3;
    justify-content: flex-start;
    flex-direction: row;
    display: flex;
    align-items: center;
    height: 7%;
} 

.collections {

}
.awesome {

}

.album-covers {
    display: flex;
    flex-direction: row;
}

.cover {
    max-height: 140px;
} */