*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 200vh;
    background-color: #e0dedf;
}
.page{
    position: relative;
}
/* header */
header{
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 86px;
    background-color: rgba(50, 50, 50, 0);
    display: flex;
    transition: background 0.2s linear 0s;
}
.logo{
    width: 49%;
    text-align: center;
}
.logobox:hover p{
    background-color: #ffffff;
    color: #323232;
   }
.logo p{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: white;
    margin: 2% 20% 0 20%;
    transition: background-color 0.3s linear 0s, color 0.3s linear 0s;
}
.logo span{
    color: #a83037;
    
}
.nav{
    width: 49%;
    display: flex;
    justify-content: center;
}
.nav-item{
    margin: 20px 0px;
    padding: 0vh 10vh;
    position: relative;
}
.nav-item-cont a{
    text-decoration: none;
    color: white;
    display: block;
    font-family:'Roboto Condensed', sans-serif;
    font-weight: 400;
    padding: 10px;
    letter-spacing: 2px;
    font-size: 19px;
}

.abt:hover::before{
    content: '';
    position: absolute;
    transition: linear 2s;
    background-image: url(src/img/about.png);
    right: 35px;
    top: 4px;
    width: 36px;    
    height: 36px;
}
.prdct:hover::before{
    content: '';
    position: absolute;
    background-image: url(src/img/product.png);
    right: 35px;
    top: 4px;
    width: 36px;    
    height: 36px;
}
.cntct:hover::before{
    content: '';
    position: absolute;
    background-image: url(src/img/contact.png);
    right: 35px;
    top: 4px;
    width: 36px;    
    height: 36px;
}

/* section1 */
.headers{
    margin-left: 12vh;
    margin-top: 40vh;
    position: relative;
}
.goto{
    position: absolute;
    top: 75vh;
    left: 12vh;
    z-index: 2;
}
h1{
    font-size: 56px;
    font-family: 'Roboto Condensed',sans-serif;
    color: white;
}
h2{
    font-size: 41px;
    letter-spacing: 9px;
    font-family: 'Roboto Condensed',sans-serif;
}
h3{
    font-size: 50px;
    letter-spacing: 4px;
    font-family: 'Roboto Condensed',sans-serif;
    color: white;
}
.pic{
    background-image: url(src/img/woman.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0;
    width: 100%;
    height: 900px;
    min-height: 100vh;
    z-index: -2;
    position: absolute;
}
/*section2*/
.catalog{
    margin-top: 100vh;
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
    z-index: 1;
    justify-content: center;
    background-color: #e0dedf;
}
.catalog-item{
    margin: 85px 40px;
    /* background-color: coral; */
    width: 30%;
    display: flex;
    flex-direction: column;
    height: 90vh;
}
.imgbox{
    display: flex;
    background-color: #a83037;
    width: 100%;
    height: 55%;
    box-shadow: 0px 2px 3px rgba(128,128,128,0.27);
}
p{
    font-family:'Roboto Condensed', sans-serif;
    font-size: 18px;
    padding: 5px;
}
h4{
    display: inline-block;
    font-size: 27px;
    font-family: 'Roboto Condensed',sans-serif;
    width: 49%;
    padding: 5px;
}
.inf{
    text-align: right;
    display: inline-block;
    width: 49%;
}
table{
    margin: auto;
    margin-top: 90px;
    font-family: 'Roboto Condensed',sans-serif;
    font-size: 20px;
    color: #ffffff;
}
td{
    margin-right: 15px;
}

td:last-child{
    color: rosybrown;
}
.description img{
    width: 30px;
    padding: 5px;
}

.viewmore{
    font-size: 17px;
    font-family: 'Roboto Condensed',sans-serif;
    text-decoration: none;
    background-color: #a83037;
    color: white;
    width: 150px;
    text-align: center;
    display: block;
    margin-top: 20px;
    padding: 5px 15px;
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.33);
    transition: linear 0.2s;
}
.viewmore:hover{
    background-color: #ff515a;
}
/* !!!!!!!!!!!!!!!!!!!!!!!!! */
/* INFO WINDOWS STYLING */
.img-one{
    width: 100%;
    height: 100%;
    background-image: url(src/img/dress1.jpg);
    background-size: cover;
    transition: ease-in 0.9s;
}
.desc-one{
    display: none;
    width: 0%;
    background-color: #a83037;
    height: 100%;
}
.img-two{
    width: 100%;
    height: 100%;
    background-image: url(src/img/dress2.jpg);
    background-size: cover;
    transition: ease-in 0.9s;
}
.desc-two{
    display: none;
    width: 0%;
    background-color: #a83037;
    height: 100%;
}
.img-three{
    width: 100%;
    height: 100%;
    background-image: url(src/img/dress3.jpg);
    background-size: cover;
    transition: ease-in 0.9s;
}
.desc-three{
    display: none;
    width: 0%;
    background-color: #a83037;
    height: 100%;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* */

footer{
    position: absolute;
    top: 100vh;
    /* margin-top: 185vh; */
    width: 100%;
    height: 15%;
    background-color: #323232;
}
.soc{
    display: inline-block;
    margin-left: 70%;
}
footer img{
    margin-left: 20px;
    margin-top:40px;
    width: 50px;
    filter: invert(100%);
    border-radius: 100px;
}
footer img:hover{
    box-shadow: 0px 0px 0px 3px rgba(88,207,201, 1);   
}
footer a{
    
    text-align: right;
}
footer span{
    font-size: 16px;
    font-family: 'Roboto Condensed',sans-serif;
    color: white;
    padding: 2px;
    padding-left: 30px;
    background-color: #a83037;
}