* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1366px;
    min-height: 100%;
    margin: auto;
    font-family: 'Roboto Condensed', sans-serif;
}

header {
    width: 100%;
    min-height: 70px;
    background: #323232;
}

.header-block-1 {
    width: 50%;
    min-height: 100%;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
}

.header-name {
    font: 700 36px 'Roboto Condensed', sans-serif;
    width: 210px;
    min-height: 50px;
    letter-spacing: 0.1px;
    font-stretch: condensed;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
    transition: linear 0.2s;
}

.header-name p:first-child {
    color:#a83037;
    margin-right: 5px;  
}

.header-name p:last-child {
    color: #fae9e9;
    margin-left: 5px;
    transition: linear 0.2s;
}

.header-block-2 {
    width: 50%;
    min-height: 100%;
    display: flex;
    align-items: center;
}

ul {
    list-style: none;
}

.header-block-2 ul li {
    margin-right: 70px;
    color: #fae9e9;
    font: 400 16px 'Roboto Condensed', sans-serif;
    padding: 1px 5px;
    transition: all 0.4s ease-out;
    
}

.header-name:hover {
    cursor: pointer;
    background: #fae9e9;
}

.header-name:hover p:last-child {
    color: black;
}

.header-block-2 ul li:hover {
    background: #fae9e9;
    color: black;
    cursor: pointer;
}

.under-header {
    width: 100%;
    min-height: 500px;
    background: url(../assets/woman.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;
    box-shadow: 0px 2px 3px rgba(128, 128, 128, 0.27);
    background-size: cover;
}

.under-header-text {
    width: 100%;
    min-height: 300px;
    margin-top: 92px;
    margin-left: 100px;
}

.under-header-text h3:first-child {
    font-size: 48px;
    color: white;
    font-stretch: condensed;
}

.under-header-text h3:nth-child(2) {
    font-size: 24px;
    word-spacing: 16px;
    font-stretch: condensed;
    font-weight: bold;
}

.under-header-text h3:nth-child(3) {
    font-size: 36px;
    letter-spacing: 5px;
    color: white;
    font-stretch: condensed;
}

.button {
    min-height: 36px;
    width: 100px;
    background: #a83037;
    color: #fae9e9;
    font-size: 16px;
    font-stretch: condensed;
    margin-top: 80px;
    font-weight: 700;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease-out;
    cursor: pointer;
}

.button:hover {
    background: #fae9e9;
    color: black;
}

.upper-footer {
    width: 100%;
    min-height: 600px;
    background: #E0DEDF; 
}

.upper-footer-block {
    width: 400px;
    min-height: 100%;
}

.upper-footer .upper-footer-block:first-child {
    margin: 52px 0 0 66px;
}

.upper-footer .upper-footer-block:nth-child(2) {
    margin: 52px 33px 0 33px;
}

.upper-footer .upper-footer-block:last-child {
    margin: 52px 66px 0 0;
}

.for-picture {
    width: 100%;
    height: 300px;
    box-shadow: 0 2px 3px rgba(128, 128, 128, 0.27);
    overflow: hidden;
}

.upper-footer .upper-footer-block:first-child .for-picture {
    background: url(../assets/dress1.jpg);
    background-size: 100%;
    background-size: cover;
}

.upper-footer .upper-footer-block:nth-child(2) .for-picture {
    background: url(../assets/dress2.jpg);
    background-size: cover;
}

.upper-footer .upper-footer-block:last-child .for-picture {
    background: url(../assets/dress3.jpg);
    background-size: cover;
}

.under-upper-footer-picture {
    width: 100%;
}

.under-upper-footer-picture {
    font-stretch: condensed;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
}

.under-upper-footer-picture h3, .under-upper-footer-picture p, .under-upper-footer-picture .x3button {
    margin-top: 10px;
}

.x3button {
    font-size: 18px;
    background: #A83137;
    color: #fae9e9;
    width: 100px;
    min-height:36px;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.4s ease-out;
}

.x3button:hover {
    color: black;
    background: #fae9e9;
}

footer {
    width: 100%;
    min-height: 70px;
    background: #323232;
}

.footer-block2 {
    width: 50%;
    min-height: 100%;
    display: flex;
    align-items: center;
}

.footer-img {
    min-height: 32px;
    width: 32px;
}

.footer-img img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.footer-block2 ul {
    margin-left: 440px;
}

.footer-block2 ul li:first-child .footer-img {
    margin-right: 25px;
}

.for-picture .icon {
    width: 24px;
    height: 24px;
    position: absolute;
    z-index: 10;
    cursor: pointer;
    margin: 6px 0px 0px 281px;
}

.icon i {
    margin-left: 77px;
}

table {
    position: absolute;
    font-size: 12px;
    margin-right: 20px;
    font-weight: 700;
    left: -8px;
    top: 21px;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.4s ease-out, opacity 0.4s ease-out;
}

table tbody tr td:first-child {
    color: #565658;
}

table tbody tr td:last-child {
    color: #a83037;
}

.icon:hover table {
    visibility: visible;
    opacity: 1;
}


