*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color:  #FFFCEF;
}
.page{
    width: 1120px;
    margin: auto;
}
.cube-box{
    width: 1120px;
    margin: auto;
    position: relative;
    overflow: hidden;
}
.cube-one{
    width: 400px;
    height: 400px;
    background-color: #4C7188;
    position: absolute;
    z-index: -1;
    bottom: 12%;
    left: -10%;
    transform: rotate(160deg);
    transition: ease-in .9s
}
.cube-two{
    width: 1999px;
    height: 170px;
    background-color: #D2EBCD;
    position: absolute;
    z-index: -1;
    top: 45%;
    bottom: 0.002%;
    left: 19%;
    transform: rotate(6deg);
    transition: ease-in .9s
}
/* header------------------------------------------------------- */
header{
    display: flex;
    width: 100%
}
.logo{
    margin: 70px 0 0 0;
    width: 39%;
}
.logo img{
    width: 210px;
}
.rightside{
    display: flex;
    flex-direction: row-reverse;
    width: 60%;
}
.nav{
    display: block;
    margin: auto;
    margin-top: 100px;
}
.nav a{
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #393939;
    padding: 0 20px;
    display: inline-block;
}
.soc{
    display: block;
    margin: auto;
    margin-top: 100px;
}
.soc img{
    height: 20px;
    margin: 0 15px;
}
.lang{
    display: block;
    margin: auto;
    margin-top: 100px;
}
.lang a{
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 11px;
    font-weight: 700;
    color: #393939;
}
.button{
    display: block;
    margin: auto;
    margin-top: 96px;
    margin-left: 40px;
}
.button-box:hover{
    background-color: rgb(183, 206, 179);
}
.button a{
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #393939;
    display: block;
    padding: 6px 0 0 22px;
}
.button-box{
    background-color:  #D2EBCD;
    width: 120px;
    height: 28px;
    border-radius: 12px 12px 12px 12px;
    box-shadow: 0 0 33px 0 rgba(0,0,0,0.1);
}
/* section------------------------------------------------------------- */
section{
    height: 500px;
    width: 1120px;
}
.content{
    display: flex;
}
.child{
    width: 49%;
    height: 700px;
}
.picblock{
    width: 100%;
}
.child img{
    padding-top: 125px;
    width: 500px;
}
.info{
    width: 49%;
    height: 500px;
    display: flex;
    flex-direction: column;
}
.textbox{
    height: 49%;
    margin: 60px 0 0 30px;
}
h1{
    font-family: 'Quicksand', sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: #FF7F5B;
}
.big{
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    letter-spacing: -1px;

}
.small{
    font-family: 'Quicksand', sans-serif;
    font-size: 11px;
    font-weight: 700;
    color: rgba(57, 57, 57, 0.18);
    margin-top: 20px;
    margin-bottom: 50px;
}
.counter{
    height: 49%;
    border: 1px solid rgba(57, 57, 57, 0.18);
    
}
.in-counter{
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 500px;
    height: 100px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
    align-items: center;
    margin-bottom: 120px;
    margin-left: 30px;
}
.date-point{
    border-right: 1px solid rgba(57, 57, 57, 0.18);
    flex: auto;
}
.date-point-2{
    flex: auto;
}
h3{
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}
.date-point p, .date-point-2 p{
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 14px;
    color: rgba(57, 57, 57, 0.18);
}
.logo2{
    margin-left: 350px;
}
.logo2 img{
    width: 150px;
}
/* footer------------------------------------ */
footer{
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 20px;
    width: 50%;
    margin-left: 500px;
}
/* modal */
.modal{
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8 )
}
.modal-content{
    background-color: #FFFCEF;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    height: 500px;
    display: flex;
    margin-top: 5%;
    flex-direction: column;
}
.close{
    background-color: #c95151;
    border-radius: 12px 12px 12px 12px;
    width: 20px;
    height: 20px;
    margin-left: 95%;
}
.close a{
    display: block;
    padding-top: 1px;
    padding-left: 5px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    color: #FFFCEF;
}
#name{
    width: 30%;
}
#e-mail{
    width: 60%;
}
.input{
    border: 2px solid #D2EBCD;
    border-radius: 5px 5px 5px 5px;
    padding: 5px;
}
.modal-content p{
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #393939;
    margin: 5px;
}
#qw{
    resize: none;
    border: 2px solid #D2EBCD;
    border-radius: 5px 5px 5px 5px;
    padding: 5px;
    font-family: 'Quicksand', sans-serif;
}
.button2{
    display: block;
    margin: auto;
}
.button2 a{
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #393939;
    display: block;
    padding: 6px 0 0 45px;
}