* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 1120px;
}

header{
    background-color: #ACE1AF;
    display: flex;
    justify-content: flex-end;
}

.button{
    padding: 3%;
}

.container{
    display: flex;
    flex-direction: row;
}

.menu{
    background-color: rgb(31, 59, 31);
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 550px;
}

.part1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a{
    text-decoration: none;
    color: white;
    padding: 3%;
    position: relative;   
}

a:first-child::before, a:nth-child(2)::before, a:last-child::before{
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    position: absolute;
    right: 82px;
    bottom: 1px;
}

a:first-child::before{
   content: "message";
}

a:nth-child(2)::before{
  content:"list";
}

a:last-child::before{
  content:  "notifications_active";
}

.part2{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: white;
    margin-right: 415px;
    margin-top: 50px;
}

img{
    width: 100%;
}

.fb{
    background-color: #0C1992;
    padding: 10%;
    position: relative;
    transition: left 0.5s ease-out;
}

.ln{
    background-color: #484FC7;
    padding: 10%;
    position: relative;
    transition: left 0.5s ease-out;
}

.fb:hover{
    left: 80px;
    transition: linear .4s;
    justify-content: left;
}

.fb:before{
    content: 'facebook';
    position: absolute;
    background-color: #0C1992;
    height: 30px;
    width: 80px;
    left: -80px;
}

.ln:hover{
    left: 65px;
    transition: linear .4s;
    justify-content: left;
}

.ln:before{
    content: 'linkedin';
    position: absolute;
    background-color: #484FC7;
    height: 30px;
    width: 65px;
    left: -65px;
}