* {
  padding: 0;
  margin: 0;

  /*у всех браузеров существует своя станданртная система подсчета фактических (видимых) размеров блока в CSS.
  За это свойство отвечает правило box-sizing, которое имеет несколько значений:
  
  content-box
  border-box

  В зависимости от этих значений по-разному считаются значения width и height.*/

  box-sizing: content-box; /* <- в размер блока входит его фактическая ширина(высота) + border */
  box-sizing: border-box; /* <- в размер блока входит его фактически ширина(высота) и НЕ входит border */
}

.relative {
  margin: auto;
  width: 400px; 
  height: 400px;
  border: 10px solid black;
}

.child {
  height: 10px;
  border: 8px solid red;
  /* width: 100%; */
}


/* ВАЖНО:
необходимо лишь запомнить то, что при зачении box-sizing: content-box, за всю ширину
родителя принимается только его внутренний объем, не считая его border и padding
При значении box-sizing:border-box - наоборот, учитываются.*/
