﻿* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, html {
    height:100vh;
}

.container {    
    max-width:1024px;
    margin:auto; /*выравнивание блока по горизонтали на середине его родителя */
    background:#EAEFC4;
    height:100vh;
    padding:10px;
}

.row {
    min-height: 200px;

    /*Эти свойства наследуемые, а значит, цвет шрифта и выравнивание текста
    будет у всех дочерних элементов*/
    color:#fff;
    text-align:center;

    /*Мы НЕ задаем блоку display:block;
    потому что элемент Div, и остальные блочные элементы 
    по умолчанию содержат это свойство.*/
}

.column-1 {
    /*ПЛОХАЯ ПРАКТИКА:
        Ширина блока по умолчанию равна 100% от его родителя*/

    /*---------------*/
    /*width:100%;*/ 
    /*---------------*/

    background: #25A55F;
   
}

.columns-fixed-width {
    background:#346473;
    display: inline-block;
    margin: 5px 0px; /*При наличии display:inline-block; у блочных элементов уже образуется небольшой 
                       горизонтальный отсуп, который никак не отмечен*/
    width: 330px;
    
}

.columns-3 {
    width:33%;
    background:#346473;
    display: inline-block;
    margin: 5px 0px;
}

.columns-2 {
    width:49%;
    background:#9BDF46;
    display: inline-block;
    margin: 5px 0px;
    color:#393E46;
}

p {
    padding:10px;
}