﻿* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, html {
    height:100vh;
}

.container {    
    max-width:1024px;
    margin:auto;
    background:#E0FFF9;
    height:100vh;
    padding:10px;
}

.row {
    min-height: 200px;
    color:#393E46;
    text-align:center;


    /*Что бы установить направления блоков (влево или вниз), нужно задать родителю
    display:flex;*/

    display:flex;
    /*И задать направление. row - движение будет влево, column - движение вниз*/
    flex-direction:row;

}

.column-1 {
    background: #5CA4CA;

    /*flex:auto помогает дочерним элементам автоматически вычислить ширину
    и равномерно ее распределить между всеми блоками, находящимися внутри родителя.
    Это значит, что если в одном родителе с display:flex два блока, то они будут
    занимать по 1/2 родителя, если три блока - по 1/3 родителя и т.д..*/
    flex:auto;
}

.columns-fixed-width {
    background:#74D2FF;
    margin: 5px 0px; 
    min-width: 330px;
    flex:auto;
    
}

.columns-3 {
    background:#74D2FF;
    margin: 5px 3px;
    flex:auto;
}

.columns-2 {
    background:#FCF798;
    margin: 5px 3px;
    flex:auto;
}

p {
    padding:10px;
}