﻿* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, html {
    height:100vh;
    font-family:"Roboto";
}

.container {    
    max-width:1024px;
    margin:auto; /*выравнивание блока по горизонтали на середине его родителя */
    background:#FBFFA3;
    height:100vh;
    padding:10px;
}

.row {
    min-height: 200px;

    /*Эти свойства наследуемые, а значит, цвет шрифта и выравнивание текста
    будет у всех дочерних элементов*/
    color:#083836;
    text-align:center;

    /*Мы НЕ задаем блоку display:block;
    потому что элемент Div, и остальные блочные элементы 
    по умолчанию содержат это свойство.*/
}

.columns-3 {
    width:33%;
    background:#66D37E;
    display: inline-block;
    margin: 5px 0px;
    padding:10px 20px;
    vertical-align:middle;
}


/*Вертикальное выравнивание inline-block элемента внутри .row*/ 
/*--------------------------------------------------------------
--------------------------------------------------------------*/

/*.baseline {
    vertical-align:baseline;
}

.middle {
    vertical-align:middle;
}

.top {
    vertical-align:top;
}*/

/*--------------------------------------------------------------
--------------------------------------------------------------*/