﻿* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, html {
    height:100%;
    font-family:"Open Sans";
}

.container {    
    max-width:1024px;
    margin:auto;
    background:#FEFFE4;
    height:100%;
    padding:10px;
}

.row {
    min-height: 200px;
    color: #feffe4;
    text-align:center;

    /*Что бы установить направления блоков (влево или вниз), нужно задать родителю
    display:flex;*/

    display:flex;
    /*И задать направление. row - движение будет влево, column - движение вниз*/
    flex-direction:row;

    /*Вертикальное выравнивание контента внутри .row*/
    align-items: center;

}

.columns-3 {
    background:#FA4659;
    margin: 5px 3px;
    padding: 10px 20px;
    flex:auto;
}


/*Вертикальное выравнивание flex элемента внутри .row
Доступен только в том случае, если у родителя есть
свойство align-item*/

/*-------------------------------------------------
-------------------------------------------------*/

.baseline {
    align-self:baseline;
}

.center {
    align-self:center;
}

.flex-end {
    align-self:flex-end;
}

/*-------------------------------------------------
-------------------------------------------------*/