﻿* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    height: 100vh;
    font-family: "Roboto", sans-serif;
}

.container {
    background:#E9EBEE;
    height: 100vh;
}

.row {
    display: flex;
    flex-direction: row;
    color: #ECFFC9;
}

.column-1 {
    flex: auto;
    background: #4469B0;
    color: #ffffff;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

h1 {
    flex: auto;
    max-width: 66%;
}


.event-group-icons {
    position: relative;
}

.event-amount {
    position: absolute;
    top: -6px;
    left: 20px;
    background: #ff4935;
    padding: 2px 5px;
    font-size: 9px;
    border-radius: 50%;
    border: 2px solid #4469B0;
}

.emails {
    position: absolute;
    top: -6px;
    right: 0;
    background: #ff4935;
    padding: 2px 5px;
    font-size: 9px;
    border-radius: 50%;
    border: 2px solid #4469B0;
}

i {
    font-family: "Material icons";
    padding: 0 7px;
    flex: auto;
    cursor: pointer;
}

.star {
    flex: auto;
    text-align: right;
    position: relative;
}

.tooltip {
    position: absolute;
    right: 5px;
    bottom: -55px;
    padding: 15px 20px;
    background: rgba(0, 4, 6, 0.68);
    opacity: 0;
}

.photo {
    padding: 20px;
    flex: auto;
    text-align: center;
    position: relative;
}

    .photo img {
        max-width: 300px;
        box-shadow: 0px 3px 15px rgb(14, 14, 14);
    }

.favorite {
    position: absolute;
}

.description {
    flex: auto;
    color: black;
}

.backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -21px;
    z-index:0;
    background: rgba(0, 0, 0, 0.57);
    display:none;
}

.event-box {
    width: 500px;
    background: #fff;
    color: #333333;
    position: absolute;
    height: 200px;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
}

.date {
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
}

.number {
    font-size: 7em;
}

.date-description {
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    flex: auto;
}

.name {
    font-size: 1.5em;
    padding: 13px 0;
}

.date-buttons {
    display: flex;
    flex-direction: row-reverse;
    align-self: baseline;
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.date-buttons button {
    border: none;
    background: #4469B0;
    color: #fff;
    padding: 8px 16px;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
    margin:5px;
}
