
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Cormorant Garamond', serif;
    background: center / cover no-repeat url(../img/background.jpg);
    height: calc(100hv-80px);
}

img {width:100%;}

a {text-decoration: none;}

button {
    background: none;
    border: none;
    cursor: pointer;
}

input {
    background: none;
    border: none;
}

li {list-style: none;}

/* FOR MOBILE */

header{
    background: rgba(218, 226, 225, .55);
    position: relative;
    display: flex;
    flex-direction: row;
    height: 80px;
} 

.logo{
    position: absolute;
    top: 33px;
    left: 15px;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 95px;
    color: #363636;
    font-family: 700 15px 'Cormorant Garamond';
}

.head-nav{visibility: hidden;}

.page{
    display: flex;
    flex-direction: column;
    padding: 10%;
    max-width: 1366px;
}

.first-cont, .second-cont, .third-cont{
    flex-direction: column;
    background: rgba(166, 226, 227, .67);
    margin: 2%;
    height: 165px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.12);
}

.head1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: rgba(255, 255, 255, .80);
    align-items: center;
    height: 40px;
}

h1{font-family: 700 18px 'Cormorant Garamond';}
p{font-family: 500 14px'Cormorant Garamond';}
li{padding: 10px;}
a{margin-right: 10px;}

footer{
    position: fixed;
    display: flex;
    flex-direction: row;
    background: white;   
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
}

/* FOR TABLET */

@media (min-width: 768px) and (max-width: 1024px)
{
    footer{display: none;}
    .head-nav{visibility: visible;}
    ul{margin-left: 365px;}
    a{margin-right: 35px;}
    .page{display: inline-block;}

    .first-cont{    
        float: right;
        width: 45%;
    }

    .second-cont{width: 45%;}
}

/* FOR DESKTOP */

@media (min-width: 1025px)
{
    .page{
        display: flex;
        flex-direction: row;
        padding: 5%;
    }

    footer{display: none;}
    .head-nav{visibility: visible;}
    ul{margin-left: 750px;}
}
