* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1366px;
    margin: auto;
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    min-height: 10vh;
    background: #323232;
    display: flex;
    flex-direction: row;
}

.header {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font: 700 36px 'Roboto Condensed', sans-serif;
    
}

.illumination {
    width: 180px;
    min-height: 40px;
    letter-spacing: 0.2px;
    transition: linear 0.2s;
    border-radius: 12px 12px 12px 12px;
}

.header span:first-child {
    color: #a83037;
}

.header span:last-child {
    color: #fae9e9;
    transition: linear 0.2s;
}

.illumination:hover {
    cursor: pointer;
    background: #fae9e9;
}

.illumination:hover span:last-child {
    color: black;
}

.main-menu {
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.menu {
    display: flex;
    list-style-type: none;
}

a:link, 
a:visited {
    text-decoration: none;
    list-style-type: none;
}

ul.menu a {
    margin: 0 50px;
    color: #fae9e9;
    font: 400 16px 'Roboto Condensed', sans-serif;
    transition: all 0.4s ease-out;
}

ul.menu a:hover {
    background: #fae9e9;
    color: black;
    cursor: pointer;
    border-radius: 12px 12px 12px 12px;
}

.foto {
    max-height: 35vh;
    background: url(../img/woman.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.information {
    min-height: 300px;
    margin-top: 92px;
    margin-left: 100px;
}

.information h3:first-child {
    font-size: 48px;
    color: white;
    font-stretch: condensed;
}

.information h3:nth-child(2) {
    font-size: 24px;
    word-spacing: 16px;
    font-stretch: condensed;
    font-weight: bold;
}

.information h3:nth-child(3) {
    font-size: 36px;
    letter-spacing: 5px;
    color: white;
    font-stretch: condensed;
}

.button {
    min-height: 36px;
    width: 100px;
    background: #a83037;
    color: #fae9e9;
    font-size: 16px;
    margin-top: 40px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease-out;
    cursor: pointer;
}

.button:hover {
    background: #fae9e9;
    color: black;
}

.product {
    height: 45vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #E0DEDF;
}

.picture-block {
    margin-top: 2%;
    width: 300px;
    height: 300px;
}

.logo-dresses {
    position: relative;
    height: 100%;
    overflow: hidden;
    box-shadow: 0px 2px 3px rgba(128, 128, 128, 0.27);
}

.imege {
    width: 100%;
}

.info {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 24px;
    width: 24px;
}

.material-icons{
    position: absolute;
    cursor: pointer;
}

.product-table{
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 2;
    font-size: 10px;
    display: none;
}

.info:hover .product-table{
    display: table;
}

.column-1 {
    color: #565658;
}

.column-2 {
    color: #a83037;
    font-stretch: condensed;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
}

.button2 {
    margin-top: 4%;
    min-height: 36px;
    width: 100px;
    background: #a83037;
    color: #fae9e9;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease-out;
    cursor: pointer;
}

.button2:hover {
    background: #fae9e9;
    color: black;
}

.text {
    margin-top: 1%;
    font: 900 16px 'Roboto Condensed', sans-serif;
}

footer {
    min-height: 10vh;
    background: #323232;
    display: flex;
    flex-direction: row;
}


.insta_twit {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.twit-insta img {
    width: 20%;
    margin: 20px;
}