* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Cormorant Garamond', serif;
}
a {
    text-decoration: none;
    color: inherit;
}
li {
    list-style: none;
}
.page{
    position: relative;
    margin: auto;
    background: url(../img/background.jpg) center / cover no-repeat;
    max-width: 1270px;
}
header{
    position: relative;
    height: 80px;
    background-color: rgba(218, 226, 225, .55);
    width: 100%;
    display: flex;
    flex-direction: row; 
}
.logo{
    position: absolute;
    margin-left: 16px;
    margin-top: 24px;
}
.nav-top{
    display: none;
    margin:auto;
    margin-right: 240px;
    text-transform: uppercase;
}
ul{
    width: 260px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    color: #363636;
    font: 700 15px 'Cormorant Garamond', serif;
}
main {
    padding-top: 32px; 
    height: calc(100vh - 160px);
    overflow-y: scroll;
}
.container, .last-container{
    height: 152px;
    margin-bottom: 32px;
}
.container-top{
    height: 40px;
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}
.container-img{
    height: 24px;
    margin-left: 24px;
    margin-top: 8px;
}
.container-link{
    margin-right: 16px;
    margin-top: 16px;
    color: #507376;
    font: 900 9px 'Cormorant Garamond', serif;
}
.container-text{
    background-color: rgba(166, 226, 227, .67);
    padding: 24px 40px 24px 24px;
    color: #363636;
}
h3{
    font: 700 18px 'Cormorant Garamond', serif;
    margin-bottom: 8px;
}
p{
    font: 500 14px 'Cormorant Garamond', serif;
    text-align: justify;
}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: white;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-content: center;
}
.nav-bottom{
    margin:auto;
    text-transform: uppercase;
}
@media (min-width:768px) and (max-width:1023px) {
    footer{
        display: none;
    }
    .nav-top{
        display: block;
    }
    .page{
        height: 100vh;
    }
    main{
        height: auto;
        overflow-y: visible;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .container{
        width: 300px;
        margin: 32px 32px;
    }
    .last-container{
        width: 100%;
        margin: 32px 32px;
    }
}
@media (min-width:1024px) {
    footer{
        display: none;
    }
    .nav-top{
        display: block;
    }
    .page{
        height: 100vh;
    }
    main{
        height: auto;
        overflow-y: visible;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .container, .last-container{
        width: 300px;
        margin: 32px 32px;
    }
}
