* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%git ;
    width: 100%;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    font-family: 'Quicksand', sans-serif;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.column1 {
    min-width: 16%;
    background: #F9F9F9;
}

.left {
    min-width: 100%;
    min-height: 100px;
    background: #48C8B0;
    text-align: center;
}

.left-size {
    width: 175.5px;
    height: 69px;
    margin-top: 10.5px;
}

ul {
    margin: auto;
    margin-top: 35px;
    position: relative;
    font-size: 14px;
}

ul li {
    margin-bottom: 8px;
    margin-top: 24px;
}

.c1 {
    margin-right: 8px;
}

.border {
    border-bottom: 1px solid rgba(50, 54, 53, 0.11);
    position: absolute;
    left: -5px;
    right: -30px;
}

.column2 {
    min-width: 68%;
}

.center1 {
    min-height: 100px;
    align-items: center;
}

.center1 h1 {
    padding-left: 45px;
    font-size: 24px;
    font-weight: 700;
}

.center1 p {
    padding-left: 45px;
    font-size: 14px;
    color: #B0B0B0;
    font-weight: 400;
}

.relative {
    margin-left: 65%;
}

.center1 img {
    position: relative;
    left: -18px;
}

span {
    position: absolute;
    background: #ff4935;
    padding: 2px 5px;
    font-size: 9px;
    border-radius: 50%;
    border: 2px solid white;
    top: 31px;
    color: white;
}

.background {
    min-width: 100%;
    min-height: 350px;
    background: url(src/img/today-song.jpg);
    background-size: 100%;
    box-shadow: 0 0 0 50em rgba(0, 0, 0, 0.5) inset;
}

.center2 {
    align-items: center;
    margin-top: 65px;
}

.center2 h2 {
    font-size: 24px;
    font-weight: 700;
    color: white;
}

.button {
    height: 32px;
    width: 130px;
    background-color:rgba(255, 255, 255, 0.55);
    border-radius: 16px;
    font-size: 14px;
    font-weight: 700;
    color: #323635;
    padding: 7px 0 0 24px;
    margin-top: 20px;
}

.underbutton {
    font-size: 36px;
    font-weight: 700;
    color: white;
    margin-top: 16px;
}

.year {
    font-size: 18px;
    font-weight: 300;
    color: #B0B0B0;
    margin-top: 20px;
}

.center3 {
    align-items: center;
    border-bottom: 2px solid rgba(50, 54, 53, 0.11);
    padding-bottom: 12px;
    margin: 24px 24px 0 48px;
}

.center3 h2 {
    color: #323635;
    font-size: 24px;
    font-weight: 400;
}

.center3 p {
    padding-left: 24px;
    color: #B0B0B0;
    font-size: 16px;
    font-weight: 400;
}

.center4 {
    margin: 24px 0 0 48px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.c4 {
    width: 85%;
    height: 85%;
}

.column3 {
    min-width: 16%;
    height: 100%;
}

.right1 {
    width: 100%;
    background: #3B0944;
    min-height: 100px;
    align-items: center;
}

.right2 {
    width: 100%;
    height: 100%;
    background: #630C64;
    flex: auto;
}

.all-s {
    width: 160px;
    height: 160px;
}

.right1 img {
    height: 30px;
    padding-left: 48px;
}

.right1 p {
    font-size: 16px;
    font-weight: 500;
    color: white;
    padding-left: 16px;
}

.before-m-right {
    margin: auto;
    width: 64%;
    margin-top: 24px;
}

.m-right p {
    color: white;
    font-size: 14px;
    font-weight: 300;
    padding-top: 8px;
    padding-bottom: 12px;
}

.bar {
    height: 8px;
    border-radius: 8px;
}

.bar1 {
    background: linear-gradient(to right, #430f46 65%, #531154 35%);
}

.bar2 {
    background: linear-gradient(to right, #430f46 50%, #531154 50%);
}

.bar3 {
    background: linear-gradient(to right, #430f46 85%, #531154 15%); 
}

.bar4 {
    background: linear-gradient(to right, #430f46 70%, #531154 30%); 
}

.last1 {
    width: 50%;
    text-align: left;
}

.last2 {
    width: 50%;
    text-align: right;
}