* {
    padding: 0;
    margin: 0;
}

.page {
    background: url(../img/background.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100vh;
}

.container {
    max-width:1366px;
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    color:#fff;
    font-family: 'Lato', sans-serif;
    align-items: center;
    text-align: center;
}

.col-3 {
    background: rgba(255, 255, 255, 0.34);
    min-width: 320px;
    margin: 24px;
    padding: 24px;
    box-shadow: 0px 0px 38px rgba(0, 0, 0, 0.08);
}

.icon-box .material-icons {
    font-size: 72px;
    margin-bottom: 12px;
}

article {
    color:#225684;
}

article h3 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 16px;
}

article p {
    font-size: 18px;
    line-height: 28px;
}