* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background: #E9E8E3;
}

.main-container {
    max-width:1366px;
    color: #292929;
    margin:auto;
    height: 100%;
}

ul {
    text-align: right;
    flex: auto;
    list-style: none;
    line-height: 30px;
    color: #fff;
    padding: 0 30px;
}

li {
    display: inline-block;
    margin: 0 20px;
    font-family: 'Roboto Slab', serif;
}

.icons {
    padding: 10px;
    cursor: pointer;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.heading {
    background: #EF3C4F;
    height: 43px;
    margin-top: 60px;
    position: relative;
    align-items: center;
    padding: 0 20px;
}

.head {
    position: absolute;
    background: #E9E8E3;
    font-family: 'Molle', cursive;
    left: 250px;
    top: -40px;
    font-size: 65px;
    line-height: 52px;
    padding: 20px;
}

.head p {
    font-size: 24px;
    text-align: right;
    padding-right: 35px;
    line-height: 17px;
}

.phraze {
    flex: auto;
    line-height: 72px; 
    font-family: 'Abel', sans-serif; 
    text-align: right;
    text-transform: uppercase;
}

.phraze h1 {
    line-height: 88px;
}

.phraze .we-do {
    font-size: 72px;
}

.phraze .cause {
    font-size: 86px;
    color: #EF3C4F;
}

.phraze .we-can {
     font-size: 55px;
}

.container {
    padding: 60px 100px;
    position: relative;
}

.news {
    position: absolute;
}
.news img {
    width:14px;
    margin-left: 16px;
}

.news article {
    background: #fff;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
    font-family: 'Roboto Slab', serif;
    padding: 24px;
    min-height: 167px;
    max-width: 290px;
    text-align: justify;
}

.second {
    left: 190px;
    top: 140px;
}

.third {
    left: 135px;
    top: 220px;
}

article h3 {

     /* краткая запись для параметров шрифта */

     font: bold 18px 'Roboto Slab', serif;
     border-bottom: 1px solid;
     margin-bottom: 12px;
}

article p {
    line-height: 25px;
}

