* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

header, footer{
    display: flex;
    background-color: #323232;
    color: white;
    align-items: center;
    justify-content: space-between;
}

.logo{
    display: flex;
    margin: 20px;
    margin-left: 79px;
    font: 700 36px 'Roboto Condensed';
}

.logo::before{
    content: 'BEST';
    color: red;
}

.logo:hover{
    background-color: #fae9e9;
    color: #323232;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: white;
    font: 450 20px 'Roboto Condensed';
    margin-right: 86px;
}

a:hover{
    background-color: #fae9e9;
    color: #323232;
}

.main{
    background: url(../src-img/woman.jpg);
    max-width: 1366px;
    display: flex;
    flex-direction: column;
}

h1{
    size: 48px;
    color: white;
    letter-spacing: 2px;
    margin-top: 112px;
    margin-left: 105px;
    margin-bottom: 10px;
}

p{
    size: 24px;
    letter-spacing: 4px;
    margin-left: 105px;
    margin-bottom: 10px;
}

h2{
    size: 36px;
    color: white;
    letter-spacing: 5px;
    margin-left: 105px;
    margin-bottom: 10px;
}

button{
    display: flex;
    color: white;
    background-color: red;
    font-size: 16px;
    cursor: pointer;
    border-width: 0;
    justify-content: center;
    width: 95px;
    height: 30px;
    margin-left: 105px;
    margin-bottom: 105px;
    margin-top: 130px;
    font-family: 'Roboto Condensed';
}

button:hover{
    color: #323232;
    background-color: #fae9e9;
}

img{width: 100%;}

.shop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #e0dedf;
    padding: 50px;
}

.blue, .red, .dress{
    width: 30%;
    box-shadow: 0px 2px 3px rgba(128, 128, 128, 0.27);

}

.click{
    margin: 0;
    margin-top: 7px;
}

.footer{
    width: 24px;
    margin: 0;
    margin-right: 100px;
    padding: 20px; 
}

.inf{
    position: absolute;;
    right: 929px;
    top: 630px;
}

.inf1{
    position: absolute;;
    right: 490px;
    top: 630px;
}

.inf2{
    position: absolute;;
    right: 53px;
    top: 630px;
}

table{
    position: absolute;
    top: 633px;
    left: 306px;
    width: 20px;
    font-family: 'Roboto Condensed';
}

.rt{
    position: absolute;
    top: 633px;
    left: 743px;
    width: 20px;
    font-family: 'Roboto Condensed';
}

.dt{
    position: absolute;
    top: 633px;
    left: 1183px;
    width: 20px;
    font-family: 'Roboto Condensed';
}

.r{
    color: red;
}