* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    background: white;
}

.page {
    width: 1120px;
    height: 640px;
    background: #FFFCEF;
    position: relative;
    z-index: 2;
    margin: auto;
    overflow: hidden;
    color: #393939;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.verticalblock1 {
    width: 60%;
    height: 100%;
    padding: 70px 0 0 60px;
}

.block1 {
    height: 75px;
    width: 100%;
}

.block1-img {
    width: 90%;
    height: 90%;
}

.block1-img img {
    height: 50px;
}

.block1-background {
    width: 100%;
    height: 100%;
}

.block1-img2 {
    width: 384px;
    height: 250px;
    z-index: 2;
    position: absolute;
    margin-top: 150px;
}

.block1-img2 img {
    height: 100%;
    position: absolute;
    z-index: 2;
}

.square {
    width: 375px;
    height: 375px;
    transform: rotate(250deg);
    background: #4C7188;
    position: absolute;
    z-index: 0;
    margin-top: 60px;
    margin-left: -55px;
}

.rectangle {
    width: 1000px;
    height: 150px;
    transform: rotate(250deg);
    background: #D2EBCD;
    transform: rotate(5deg);
    position: absolute;
    z-index: 1;
    margin-top: 385px;
    margin-left: 60px;

}

.verticalblock2 {
    width: 100%;
    height: 100%;
    padding-top: 70px;
}

.up-menu {
    margin-top: 25px;
    margin-right: 60px;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.s1 {
    font: 400 12px 'Quicksand', sans-serif;
}

.s2 {
    font: 700 11px sans-serif;
}

.s3 {
    font: 700 11px sans-serif;
    border-radius: 16px;
    background: #D2EBCD;
    padding: 10px 25px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.10);
}

i {
    padding-top: 3px;
}

i img {
    padding: 0 10px;
    height: 16px;
}

.down-menu {
    margin-left: 100px;
    margin-top: 45px;
    margin-right: 60px;
}

.down-menu h1 {
    color: #FF7F5B;
    font: 700 36px sans-serif;
    letter-spacing: -1px;
    margin-bottom: 15px;
}

.down-menu h2 {
    font: 700 24px sans-serif;
    letter-spacing: -1px;
    margin-bottom: 10px;
}

.down-menu p {
    font: 700 11px sans-serif;
    color: rgba(57, 57, 57, 0.18);
}

.numbers {
    width: 100%;
    height: 120px;
    background: white;
    margin-top: 40px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0, 0.05);
}

.into-numbers {
    margin: auto;
    text-align: center;
    margin: 35px 0;
    width: 100%;
    justify-content: space-between;
}

.into-numbers p {
    font: 700 24px sans-serif;
    color: black;
}

.into-numbers i {
    font: 700 14px sans-serif;
    color: rgba(57, 57, 57, 0.18);
}

.border {
    border-right: 2px solid rgba(57, 57, 57, 0.18);
    padding: 0 30px;
}

.border2 {
    padding: 0 30px;
}

.footer {
    position: relative;
    z-index: 11;
    margin-top: 5px;
}

.footer-img {
    width: 100%;
    height: 50%;
    text-align: right;
}

.footer-img img {
    height: 50px;
}

.footer-menu {
    margin-top: 15px; 
    text-align: center;
    align-items: center;
    justify-content: space-between;
    width: 75%;
    margin-left: 125px;
    color: black;
}

.footer-menu p {
    color: black;
    font: 400 12px 'Quicksand', sans-serif;
}

  