* {
    margin: 0px;
    padding: 0px;
}
.header {
    width: 100%;
    height: 100px;
    background: rgb(130, 224, 130);
}
.button {
    width: 120px;
    height: 50px;
    font-size: 15px;
    font-weight: 800;
    margin-top: 30px;
    margin-left: 1200px;
    text-transform: uppercase;
    color: rgb(69, 95, 95);
    box-shadow: rgba(17, 15, 15, 0.3) 0px 13px 17px 0px;
    cursor: -webkit-grabbing;
    background: greenyellow;
    transition: all 0.2s step-end 0s;
}
.button:hover{
    color: darkgreen;
    background: aqua;
}
.conteiner {
    height: 600px;
    width: 300px;
    background: rgb(9, 36, 9);
}
.menu{
    width: 70%;
    margin: auto;
    padding-top: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: aliceblue;
    cursor: -webkit-grabbing;
}
i{
    margin-right: 10px;
}
.menu:hover{
    color: blue;
}
.face {
    width: 150px;
    height: 30px;
    position: relative;
    top: 30px;
    cursor: -webkit-grabbing;
    transition: all 0.2s step-end 0s;
    left: -125px;
}
.face img {
    float: right;
    background: blue;
}
.face:before {
    content: "";
    position: absolute;
    background: rgb(64, 64, 206);
}
.face:hover {
    left: 0px;
}
.in {
    width: 150px;
    height: 30px;
    position: relative;
    top: 45px;
    left: -125px;
    cursor: -webkit-grabbing;
    transition: all 0.2s step-end 0s;
}
.in img {
    float: right;
    background: rgba(10, 144, 206, 0.41);
}
.in:before {
    content: "";
    position: absolute;
    background: rgb(17, 17, 116);
}
.in:hover {
    left: 0px;
}