* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
caption {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
    color: white;
    background: grey;
}

tr {
    /*Обратите внимание, что у строки свойство border не работает*/
    border: 1px solid grey;
}

th {
    border-bottom: 1px solid grey;
}

td {
    border-left:1px solid grey;
    padding: 2px 8px;
}

tfoot td {
    text-align: center;
    border-top: 1px solid grey;
    font-weight: 700;
}