* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
    padding: 30px;
}

.button {
    font: 700 16px "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    padding:10px 20px;
    color: #2b2b2b;
    background: #22B2DA;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.30);
    cursor: pointer;

    /* transition: linear .2s; */

    /* Придать плавности ^ */
}

.button:hover {
    color:white;
    background: #62d7f7;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.30);
}

/*  :hover - псевдокласс срабатывающий при наведении ^ */