* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font: 700 48px "Roboto Condensed", sans-serif;
    color:#2f2f2f;
    text-align: center;
    margin: 24px;
}

h1 span {
     /* for :before or :after  */
     position: relative;
}

h1 span:before, h1 span:after {
    content: '';
    position: absolute;
    top: 5px;
    width: 50px;
    height: 50px;
    background: #5b6abd;
    transform: rotate(45deg);
}

h1 span:before {
    left: -94px;
}

h1 span:after{
    right:  -94px;
}