* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    color:#2f2f2f;
    text-align: center;
    margin: 24px;
}

.text {
    margin-bottom: 12px;
}

h1 .text:first-child {
    font-size: 72px;
}

h1 .text:nth-child(2) {
    font-size: 36px;
    color: #ca4d4d;
}

h1 .text:last-child {
    font-size: 56px;
    color: #f9ef54;
}