* {
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

body{
    max-width: 1120px;
    background-color: #FFFCEF;
    letter-spacing: -1px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.logo{
    width: 31%;
}

nav{
    justify-content: space-between;
    display: flex;
    align-items: center;
}

a{
    color: #000;
    padding: 5%;
    text-decoration: none;
}

.language{
    display: flex;
    padding-left: 0px;
}

button{
    background-color: #D2EBCD;
    font: 700 12px 'Quicksand';
    border-radius: 20px;
}

.main{
    display: flex;
}

.container{
    flex-direction: column;
    flex: 0 0 50%;
    justify-content: flex-end;
}

h1{
    color:#FF7F5B;
    font: 700 36px 'Quicksand';
}

P{
    font: 700 24px 'Quicksand';
}

.smal-t{
    color: grey;
    font: 700 11px 'Quicksand';
}

.sq{
    width: 65%;
}

.bl-rct{
    height: 220px;
    width: 250px;
    background-color: #4C7188;
    transform: rotate(-20deg);
    position: absolute;
    left: 13px;
    bottom: 269px;
    z-index: -1;
}

.gr-rct{
    height: 220px;
    width: 1220px;
    background-color: #D2EBCD;
    transform: rotate(12deg);
    position: absolute;
    bottom: -15px;
    z-index: -1;
}

.students{
    width: 100%;
}

img{
    width: 100%;
}

.box{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
    margin-left: 129px;
    margin-bottom: 50px;
    background-color: #F0F0D0;
    border:  1px solid rgba(57, 57, 57, 0.18);
    height: 65px;
    width: 300px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0, 0.05);
}

.box-1,.box-2, .box-3{
    border-right:  1px solid rgba(57, 57, 57, 0.18);
    text-align: center;
    justify-content: center;
    padding: 15px;
}

.box-4{
    text-align: center;
    justify-content: center;
    padding: 15px;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}   

.logo1{
    width: 20%;
    margin-left: 906px;
    margin-bottom: 9px;
}

.fot-nav{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.f{
    padding: 0%;
    padding-right: 12px;
}