* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    font-family: 'Cormorant Garamond', serif;
    color: #363636;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

li a {
    color: black;
}

/* _______________________________________________________________ */

.page {
    max-width: 1270px;
    height: 100%;
    background: url(../img/background.jpg) center / cover no-repeat;
    overflow-y: scroll;
    margin: auto;
}

nav {
    font: 700 15px;
    width: 275px;
}

a:hover {
    text-decoration: underline;
}

header {
    background: rgba(218, 226, 225, .55);
    min-height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

header nav {
    margin-left: 45%;
}

header nav ul {
    display: flex;
    justify-content: space-between;
}

footer {
    height: 80px;
    width: 100%;
    position: fixed;
    bottom: 0;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer nav ul {
    display: flex;
    justify-content: space-between;
}

.logo {
    padding: 55px 0 0 46px;
    position: absolute;
}

.content {
    width: 100%;
    height: 100%;
    align-items: center;
}

.content .c-content:first-of-type {
    margin-top: 50px;
}

.c-content {
    margin: 30px 25px 0 25px;
    min-height: 250px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.12);
}

.content .c-content:last-of-type {
    margin-bottom: 110px;
}

.line-1-content {
    background-color: rgba(255, 255, 255, .80);
    min-height: 50px;
    align-items: center;
    position: relative;
}

.line-1-content a {
    color: #507376;
    position: absolute;
    right: 10px;
    bottom: 7px;
    font-size: 9px;
    font-weight: 900; 
}

.line-1-content .content-img-1, .line-1-content .content-img-2, .line-1-content .content-img-3 {
    margin-left: 20px;
}

.content-img-1 {
    width: 29px;
    height: 35px;
}

.content-img-2 {
    width: 20px;
    height: 28px;

}

.content-img-1 {
    width: 34px;
    height: 22px;
}

.line-2-content {
    background: rgba(166, 226, 227, .67);
    min-height: 200px;
}

h3 {
    font: 700 18px;
    padding: 20px 0 10px 20px;
}

p {
    font: 500 14px;
    padding-left: 20px; 
    padding-right: 15%
}

@media (max-width:639px) {
    header nav {
        display: none;
    }
}

@media (min-width:640px) and (max-width:1023px) {
    footer{
        display: none;
    }
    .content {
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .c-content {
        margin: 50px 30px 0 30px;
        width: 44%;
    }
    .content .c-content:nth-of-type(1) {
        margin-right: 15px;
    }
    .content .c-content:nth-of-type(2) {
        margin-left: 0;
    }
    .content .c-content:nth-of-type(3) {
        width: 100%;
        margin-top: 22px;
    }
}

@media (min-width:1024px) {
    footer{
        display: none;
    }
    .content {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }
    .c-content {
        margin: 50px 40px 0 40px;
        width: 30%;
    }
    .content .c-content:nth-of-type(2) {
        margin-right: 0;
        margin-left: 0;
    }
}
