* {
    margin: 0px;
    padding: 0px;
}
.header {
    width: 100%;
    height: 100px;
    background: rgb(130, 224, 130);
}
.button {
    width: 120px;
    height: 50px;
    font-size: 15px;
    font-weight: 800;
    margin-top: 30px;
    margin-left: 1200px;
    text-transform: uppercase;
    color: rgb(69, 95, 95);
    box-shadow: rgba(17, 15, 15, 0.3) 0px 13px 17px 0px;
    cursor: -webkit-grabbing;
    background: greenyellow;
    transition: all 0.2s step-end 0s;
}
.button:hover{
    color: darkgreen;
    background: aqua;
}
.conteiner {
    height: 600px;
    width: 300px;
    background: rgb(9, 36, 9);
}
h4 {
    position: absolute;
    color: white;
    margin-top: 30px;
    margin-left: 100px;
    line-height: 2;
    width: 100px;
}
p {
    text-transform: capitalize;
    cursor: -webkit-grabbing;
    transition: all 0.2s step-end 0s;
}
p:hover{
  background: rebeccapurple;
}
.face {
    width: 150px;
    height: 30px;
    position: absolute;
    top: 150px;
    left: -225px;
    cursor: -webkit-grabbing;
    transition: all 0.2s step-end 0s;
}
.face img {
    float: right;
    background: blue;
}
.face:hover{
    background: rebeccapurple;
    padding-right: 220px;
}
.in {
    width: 150px;
    height: 30px;
    position: absolute;
    top: 200px;
    left: -225px;
    cursor: -webkit-grabbing;
    transition: all 0.2s step-end 0s;
}
.in img {
    float: right;
    background: rgba(10, 144, 206, 0.41);
}
.in:hover{
    background: rgb(40, 38, 43);
    padding-right: 220px;
}
