* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container{ 
    background-image:  url(../src-img/background.jpg);
    max-width:  1200px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.info{
    color: white;
    background: rgba(14, 63, 70, 0.53);
    width: 60%;
    /* margin-top: 192px;
    margin-left: 192px;
    margin-bottom: 192px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font: 400 12px 'Roboto';
    padding: 18px;
}

.sing-in{
    width: 39%;
    display: flex;
    flex-direction: column;
    background-color: #0E3F46;
    color: #C7C4C5;
    margin-top: 192px;
    margin-right: 192px;
    margin-bottom: 192px;
    min-height: 171px;
    justify-content: center;
    align-items: center;
}

img{width: 10%;}

li{
    list-style: none;
    padding: 5px;
    position: relative;
}

li:before{
    content: '';
    background: url('../src-img/management.png');
    position: absolute;
    width: 20px;
    height: 20px;
    left: -24px;

}

li:first-child:before {
    background: url('../src-img/graph-line-screen.png');
    background-size: cover;
}

li:nth-child(2):before{
    background: url('../src-img/management.png');
    background-size: cover;
}

li:last-child:before{
    background: url('../src-img/progress-report.png');
    background-size: cover;
}

/* p{padding: 25px;}

h1, h2{padding: 10px;} */

input{padding: 10px;}
