* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    font-family: 'Quicksand', sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
}
.page{
    height: 100vh;
}
li {
    list-style-type: none; /* Убираем маркеры */
   }
header{
    height: 20vh;
    background: green;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.button {
    margin-right: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 100px;
    background-color:#D2EBCD;
    border-radius: 16px;
    font-size: 12px;
    font-weight: 700;
    box-shadow: 0 0 20px rgba(163, 89, 89, 0.1);
}
.button:hover{
    box-shadow: 0 0 20px rgba(163, 89, 89, 0.7);
    background-color:rgb(113, 211, 93);
}
.left{
    width: 15%;
    background: red;
    height: 80vh;
    display: flex;
    flex-direction: column;
}
ul{
    margin-top: 10%;
    margin-left: 5%;
}
li{
    margin-bottom: 10px;
    width: 100px;
}
.menu-text:hover{
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 1em red;
    cursor: pointer;
}
.menu-text:before{
    margin: 2px;
    content: 'message';
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
}
.social{
    position: relative;
    margin-top: 20px;
}
.facebook, .linked{
    display: flex;
    flex-direction: row;
    position: absolute;
}
.facebook{
    background-color: #3b5998;
    color: white;
    padding: 5px;
    left: -75px;
}
.linked{
    background: #0274b3;
    color: white;
    top: 40px;
    padding: 5px;
    left: -60px;
}
.facebook:hover{
    left: 0;
    transition: 1s;
}
.linked:hover{
    left: 0;
    transition: 1s;
}
