

/* Отмена стандартных браузерных отступов
   для всех элементов*/
* {
  margin: 0;
}

.page {
  background: #f2f6f9;

  /* about vh units https://css-tricks.com/fun-viewport-units/ */
  height: 100vh;
}

.container {
  width: 1170px;
  margin: auto;
  padding: 24px 0;
  font-family: 'Oswald', sans-serif;
}

.box {
  display: inline-block;
  width:33%;
  min-width: 320px;  
  background: #fff;  
  box-shadow: 0px 1px 38px rgba(0, 0, 0, 0.12);
}

.img-box {
  overflow: hidden;

  /* to make same height of images */

  /* position: relative;
  min-height: 231px;
  max-height: 231px; */
}

img {
  width:100%;

  /* to make same height of images */

  /* width: 110%;
  position: absolute;
  left: -5%; */
}

.article {
  padding: 16px 24px;
  color: #2a2c2d;
}

.article h3 {
  margin-bottom: 12px;
}
