
/* Отмена стандартных браузерных отступов
   для всех элементов*/
* {
    padding: 0;
    margin: 0;
}

.container {
    background: url("../img/OG9KR40.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    max-width:1170px;
    margin: auto;
    padding: 80px 0;    
}

.heading {
    font-family: 'Arvo', serif;

    /* to read about this properties  */

    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: center;

    /* --- */

    padding: 16px 0;
    background: rgba(30, 51, 51, 0.41);
    color: white;
}

.heading h1 {
    flex: 0 0 70%;
    margin: 0 24px;
    text-align: right;
    font-weight: 600;
    letter-spacing: -0.8px;
}

.heading img {
    width: 6%;
}

