* {
  padding: 0;
  margin: 0;
}

/*ПРИМЕЧАНИЕ:
В css селекторы, которым вы хотите присвоить одни и те же свойства,
можно перечесть через запятую*/
html, body {
    font-family: 'Roboto Condensed', sans-serif;
    color: #ffffff; /*white - это номер цвета в шестнадцатеричной системе исчесления.*/

    /*ВАЖНО:
    Особенность height в том, что для для элементов внутри body
    он работает только в том случае, если и head и body присвоить
    height:100%;*/
}

.main-container {
  height: 100vh;
  padding: 150px 0 0;
  background-image: url(../img/OBFBRN0.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.dark-box {
  padding: 32px 64px;
  background: rgba(44, 37, 34, 0.4);

  /* colors and palettes:
  https://webref.ru/css/value/color

  https://color.adobe.com/create/color-wheel/

  https://colorhunt.co/
  */

}

.container {
  display: inline-block;
  width:49%;
}

h1 {
  font-size:48px;
}

ul {
  list-style: none;
  padding:40px 0 0;
}

li {
  display: inline-block;
  padding: 5px;
}

li img {
  width: 32px;
}

.align-right {
  text-align: right;
}

/*Самые часто используемые бесплатные шрифты:

https://fonts.google.com/ */

/*Все настройки background:

https://webref.ru/css/type/color
https://developer.mozilla.org/en-US/docs/Web/CSS/background*/
