
/* В CSS существует ряд правил для определения ширины, высоты и отсупов, а именно:

width - ширина;
max-width: - максимальная допустимая ширина;
min-width: - минимальная допустимая ширина;

height - высота;
max-height - максимальная допустимая высота;
min-height - минимальная допустимая высота;

margin - внешний отступ (отступ от контейнера);
padding - внутренний отступ (отступ дочерних элементов от его родителя);

https://webref.ru/css/width
https://webref.ru/css/height
https://webref.ru/css/type/margin

/* В CSS присутсвует несколько единиц для указания размеров элементов и их отсупов.
Очень часто используемые:
1. px
2. %

   будут рассматриваться позже, но для любознательных вот ссылка: https://webref.ru/css/value/size

3. em и rem 
4. vh и vw 
*/


/*WIDTH*/

.width {
  width: 100%; /* 100% от родительского элемента */
  width:100px; /* 100px (точек) окна браузера*/
  width: 100vw; /* 100% от фактической ширины браузера в данный момент (v - viewport, w - width)*/
}

/*HEIGHT*/

.height {
  height: 100%;
  height: 100px;

  /* ВАЖНО : для height и width использование px не всегда является мудрым решением,
  так как px - не относительная величина, и могут возникнуть трудности
  при отображении элементов на мобильных устройствах.
  Но далее Вы поймете, как эти трудности можно преодолевать*/

  height: 100vh;  /* 100% от фактической высоты браузера в данный момент (v - viewport, w - width)*/
}

/*MARGIN*/

.margin {
    margin:20px; /*Одинаковые отступы со всех четырех сторон*/
    margin:20px 10px; /* 20px сверху и снизу элемента, 10рх по бокам */
    margin:10px 20px 30px; /*10px сверху, по 20рх слева и справа и 30рх снизу */
    margin:10px 20px 30px 40px; /* Разные значения всех сторон, которые двигаются по часовой стрелке*/
    margin:auto; /* выравнивание блочного элемента по центру*/
}

/*PADDING*/

.padding {
    padding:20px; /*Одинаковые отступы со всех четырех сторон*/
    padding:20px 10px; /* 20px сверху и снизу элемента, 10рх по бокам */
    padding:10px 20px 30px; /*10px сверху, по 20рх слева и справа и 30рх снизу */
    padding:10px 20px 30px 40px /* Разные значения всех сторон, которые двигаются по часовой стрелке*/
}

/* ПРИМЕЧАНИЕ:
Если Вам необходимо указать какую-то одну сторону для MARGIN или PADDING, вы можете использовать
данные правила с уточнением стороны.
Например:
margin-top - внешний верхний отступ
padding-right - внутренний правый отступ
margin-bottom - внешний нижний отступ
padding-left - внутренний левый отстпуп

На практике, чаще всего, используется короткое название правила с указанием нулевых отступов.
Например, что бы сделать только верхний и нижний внешний отступ, достаточно такой записи:
margin: 20px 0;
Только правый:
margin: 0 20px 0 0;
и т.п.
То же касается и PADDING.

/* Правила, которые отменяют настройки отступов по умолчанию у ВСЕХ браузеров*/
  
* {
  padding: 0;
  margin: 0;
}

