* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto Condensed', sans-serif;
}
.page{
    height: 100vh;
    margin: auto;
    background: url(../img/background.jpg);
    background-size: cover;
    display: flex;
    align-content: center;
    justify-content: center;
}
a {
    text-decoration: none;
    color: inherit;
}
.container{
    margin: auto;
    height: 50vh;
    width: 120vh;
    background: rgba(14, 63, 70, 0.53);
    display: flex;
    flex-direction: row;
}
.left-block{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: 40px;
    width: 60%;
}
.question, .text-1, .text-2, .left-menu-text{
    color: white;
    margin: auto;
}
.question{
    font-size: 36px;
    font-weight: 400;
}
.text-1, .text-2,{
    font-size: 12px;
    font-weight: 400;
}
.text-1{
    padding-top: 20px;
    padding-bottom: 20px;
}
.text-2{
    padding-top: 20px;
    padding-bottom: 20px;
}
.menu-container{
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-left: 80px;
}
li{
    list-style-type: none; /* Убираем маркеры */
}
.left-menu-text{
    margin-left: 10px; 
}
.left-menu-icon{
    height: 18px;
}
.right-block{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: start;
    background: #0E3F46;
    padding-left: 30px;
}
.title-sign{
    margin: 30px 0;
    font-size: 36px;
    font-weight: 400;
    color: white;
}
.form-container{
    margin-bottom: 10px;
}
.form-block{
    display: flex;
    flex-direction: column;
    height: 60%;
    justify-content: space-between;
}
.text-form{
    width: 70%;
    background:  #0E3F46;
    border-bottom-color: white;
    border-width: 0 0 1px 0;
    padding-bottom: 2px;
    color: white;
}
.text-form::-webkit-input-placeholder { 
    color: white;
    font-size: 11px;
    font-weight: 400;
 }
 .right-menu-icon{
    height: 12px; 
 }
 .button{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 80%;
    background-color: white;
    font-size: 24px;
    font-weight: 400;
    color: #0E3F46;
    /* padding: 30px 0;   */
    line-height:50px;
    border-radius: 5px;
 }
