* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto Condensed', sans-serif;
}
.page{
    max-width: 1366px;
    height: 120vh;
    margin: auto;
}
a {
    text-decoration: none;
    color: inherit;
}
/* ------------------------------------------------- */
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #323232;
    height: 10vh;
}
.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 15%;
    font: 700 36px 'Roboto Condensed', sans-serif;
    padding: 1px 5px;
}
.best{
    color: #a83037;
}
.shop{
    margin: 5px;
    color: white;
}
.logo:hover{
    background: #fae9e9;
}
.logo:hover .shop{
    color: #323232;
}
.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 25%;
    font: 400 16px 'Roboto Condensed', sans-serif;
    color: white;
    width: 20%;
    justify-content: space-between;
}
.nav-button{
    padding: 1px 5px;
}
.nav-button:hover{
    background: #fae9e9;
    color: #323232;
    cursor: pointer;
}
/* ------------------------------------------------- */
.main{
    background: #e0dedf;
}
.main-info{
    height: 60vh;
    background: url(../img/woman.jpg);
    background-size: 100%;
    background-position: top center;
}
.jumbotron{
    margin-left: 10%;
    padding-top: 5%;
}
.h3-1{
    color: white;
    font-size: 48px;
}
.h3-2{
    color: black;
    font-size: 24px;
    letter-spacing: 24px;
    text-shadow: white 0 0 1px;
}
.h3-3{
    color: white;
    font-size: 36px;
    letter-spacing: 5px;
}
.go-to-button{
    margin-left: 10%;
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 100px;
    background-color:#a83037;
    border-radius: 1px;
    font-size: 16px;
    color: white;
}
.go-to-button:hover{
    background-color: #fae9e9;
    color: black;
}
/* ------------------------------------------------- */
.marketplace{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.container{
    margin-left: 2%;
    margin-top: 20px;
    width: 350px;
    height: 400px;
}
.product-info{
    position: relative;
    height: 270px;
    overflow: hidden;
    box-shadow: 0px 2px 3px rgba(128, 128, 128, 0.27);
}
.info-point{
    position: absolute;
    top: 10px;
    right: 10px;
    height: 24px;
    width: 24px;
}
.material-icons{
    position: absolute;
    cursor: pointer;
}
.product-table{
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 2;
    font-size: 10px;
    display: none;
}
.info-point:hover .product-table{
    display: table;
}
.column-1{
    color: #565658;
}
.column-2{
    color: #a83037;
}
.product-img{
    width: 100%;
    /* object-fit: contain; */
}
.product-overview{
    padding-left: 5px;
    padding-top: 5px;
    width: 100%;
}
.product-button{
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 100px;
    background-color:#a83037;
    border-radius: 1px;
    font-size: 16px;
    color: white; 
}
.product-button:hover{
    background-color: #fae9e9;
    color: black;
}
/* ------------------------------------------------- */
.footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #323232;
    height: 10vh;
}
.social{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 45%;
    width: 5%;
    justify-content: space-between;
}
.social-logo{
    height: 24px;
}