* {
    margin: 0;
    padding: 0;
} 
.page{
    height: 100vh;
    background: url('img/background.jpg');
    background-size:cover;
}
.conteiner{
    width: 900px;
    height: 300px;
    display: flex;
    flex-direction: row;
    background: gray;
    margin: auto;
}
.company{
    width: 60%;
    opacity: 0.5;
    background: rgb(184, 179, 179);
}
h1{
   margin: 20px;
}
h6{
    position: relative;
    margin: 20px;
}
.sign{
    width: 40%;
}