* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.up {
    width: 100%;
    height: 80px;
    background: #BAD8B6;
    justify-content: flex-end;
}

.button {
    display: flex;
    flex-direction: row;
    height: 60px;
    width: 120px;
    background: #E1E9CD;
    margin: 10px 30px;
    justify-content: center;
    box-shadow: rgba(10, 12, 10, 0.30);
    transition: all 0.7s ease-out;
}

.button p {
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
}

.button:hover {
    cursor: pointer;
    background: blue;
    color: wheat;
}


.down {
    background: #01352C;
    height: 100%;
    width: 30%;
}
.udown {
    padding: 120px;
    color: white;
}

.udown i {
    margin-top: 7px;
}

.udown span {
    margin-left: 20px;
    margin-top: 10px;
}

.light:hover, .udown .light:first-child:hover span {
    background: white;
    cursor: pointer;
    color: black;
}

.udown .light:first-child:hover i {
    background: white;
    cursor: pointer;
    color: red;
}

.udown .light:nth-child(2):hover i {
    background: white;
    cursor: pointer;
    color: red;
}

.udown .light:last-child:hover i {
    background: white;
    cursor: pointer;
    color: red;
}

.logo {
    width: 100px;
    height: 100px;
}

.facebook img {
    background: #6D6DDF;
    width: 34px;
    height: 34px;
    
}

.link img {
    background: #8686BA;
    width: 34px;
    height: 34px;
}

.facebook {
    position: relative;
    margin-bottom: 20px;
    cursor: pointer;
    width: 34px;
    left: 0;
    transition: left 0.5s ease-out;
}

.facebook:before {
    position: absolute;
    content: "Facebook";
    background: #6D6DDF;
    left: -80px;
    height: 34px;
    width: 80px;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

.facebook:hover {
    /* animation-fill-mode: forwards;
    animation: slidein 0.5s ease-out; */
    left: 80px;
}

.link {
    position: relative;
    cursor: pointer;
    width: 34px;
    left: 0;
    transition: left 0.5s ease-out;
}

.link:before {
    position: absolute;
    content: "Linkedin";
    background: #8686BA;
    left: -80px;
    height: 34px;
    width: 80px;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

.link:hover {
    /* animation: slidein 0.5s ease-out;
    animation-fill-mode: forwards; */
    left: 80px;
}

/* @keyframes slidein {
    from {
      left: 0px;
    }
  
    to {
      left: 80px;
    }
  } */
