.tool-bar {
  width: 200px;
  height: 200px;
  background: green;
  position: relative;
}

.side-bar {
  position: absolute;
  width: 200px;
  height: 200px;
  background: grey;
  top:0;
  z-index: -1;
  transition:ease-in .15s;
}