
.box {
    margin: 48px 0;
}

a {
    margin: 6px;
}

a[target="_blank"] { 
    color: red;
   }

a[href^="http://"] {  /* replace a[target] with a [href] */     /* ^ - к началу*/
    color: green;
   }

a[href$=".io"] {           /* $ - обратиться с помощу окончания*/
    color: purple;
   }

a[href*="urbandictionary"] {      /*  *= - где небудь находит */
    color: teal;
}
