
.box {
    margin: 48px 0;
}

a, p {
    margin: 6px;
}

a:visited { 
    color: red;
}

a:active { /* any chance to see how it works :( */
color: green;
}

.types a:first-of-type {
    color: rgb(0, 255, 221);
}

.name-input-box:focus-within {
    padding: 16px;
    background: #701dbd;
}

.text-box .text:not(:nth-child(2)) {
    color: #4abd1d;
}

.name::-webkit-input-placeholder {
    color: aqua;
}

h2:target {
    color: rgb(47, 162, 197);
    text-decoration: underline;
}
/* Full list of pseudoclassses */
/* https://webref.ru/css#selectors */