.loading-box {
    width: 400px;
    overflow: hidden;
}

.loading {
    height: 10px;
    background: rgb(16, 161, 137);
    animation: 1s load ease-in infinite;
    /* animation-delay: 2s; */
    /* animation-name: load; */
    /* animation-timing-function: ease; */
    /* animation-direction: normal; */
    /* animation-iteration-count: 5; */
    /* animation-fill-mode: forward; */
}

@keyframes load {
    0% {
        width: 0%;
        transform: translateX(0%);
    }
    50% {
        width:100%;
    }
    100% {
        transform: translateX(120%);
    }
}