* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    /* font-family: 'Lato', sans-serif; */
    font-family: 'Playfair Display', serif;
}
a {
    text-decoration: none;
    color: inherit;
}
.page{
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #19282C;
}
.container{
    max-width: 900px;
    height: 80vh;
    width: 120vh;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 0px 37px rgba(0, 0, 0, 0.41);
    color: #252525;
}
.img-container{
    background: url(../img/form-side.png);
    background-size: cover;
    width: 40%;
}
.form-container{
    width: 60%;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 50px;
}
.form-title{
    font: 900 24px 'Playfair Display', serif;
    margin-bottom: 30px;
}
.text-1{
    font: 400 12px 'Playfair Display', serif;
    margin-bottom: 30px;
}
.social{
    font: 700 11px 'Lato', sans-serif;
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}
.facebook {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 150px;
    color: white;
    background-color:#4469B0;
    border-radius: 16px;
    box-shadow: 0 0 20px rgba(163, 89, 89, 0.1);
}
.facebook:hover{
    background-color: rgba(68, 105, 176, 0.78);
}
.twitter {
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 150px;
    color: white;
    background-color:#106FBC;
    border-radius: 16px;
    box-shadow: 0 0 20px rgba(163, 89, 89, 0.1);
}
.twitter:hover{
    background-color: rgba(16, 111, 188, 0.78);
}
.text-2{
    font: 700 11px 'Playfair Display', serif;
    margin-bottom: 32px;
}
.email-reg{
    display: flex;
    flex-direction: row;
    margin-bottom: 32px;
}
.email, .password{
    color: rgba(0, 0, 0, 0.24);
    border-bottom-color: rgba(0, 0, 0, 0.14);
    border-width: 0 0 1px 0;
    width: 20vh;
    padding-bottom: 2px;
    padding-left: 5px;
}
.password{
    margin-left: 40px;
}
.email::-webkit-input-placeholder { 
    color:rgba(0, 0, 0, 0.24);
    font-size: 11px;
    font-weight: 400;
 }
 .password::-webkit-input-placeholder { 
    color: rgba(0, 0, 0, 0.24);
    font-size: 11px;
    font-weight: 400;
 }
 .question{
    font: 900 16px 'Playfair Display', serif;
    margin-bottom: 20px;
 }
 .text-3{
    font: 400 9px 'Playfair Display', serif;
    margin-bottom: 20px;
 }
 .answer-choise{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 60px;
 }
 .choise{
    display: flex;
    flex-direction: row;
    align-items: center;
 }
 .selector-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
 }
 .selector{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: 2px solid #252525;
    transition: 0.2s all linear;
    outline: none;
    cursor: pointer;
 }
 .dot {
    position:absolute;
    width: 10px;
    height: 10px;
    margin: auto;
    left: 1px;
    top: 1px;
    right: 1px;
    bottom: 1px;
    background: #106FBC;
    display: none;
    border-radius: 50%;
}
.selector:checked ~ .dot {
	display: block;
}
.selector-title{
    margin-left: 10px;
    margin-right: 30px;
    font-size: 9px;
    font-weight: 400;
}
.selector:checked ~ .selector-title {
    font-weight: 700;
}
.selector-container:hover ~ .selector-title {
    font-weight: 700;
}
.confirmation{
    color: rgba(0, 0, 0, 0.14);
    font-size: 9px;
    font-weight: 400;
    margin-bottom: 42px;
}
.conditions-label{
    margin-left: 10px;
}
.button{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font: 700 11px 'Lato', sans-serif;
    height: 30px;
    width: 100px;
    background-color: #106FBC;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0px 0px 5px 0px rgb(233, 153, 6);
}
.button:hover{
    background-color:rgba(16, 111, 188, 0.78);
}