* {
    margin: 0;
    padding: 0;
} 
body{
    width: 1366px;
    margin: auto;
}
.zoro{
    overflow: hidden;
    background: #FFFCEF;
}
header{
    width: 100%;
    height: 60px;
    background: #323232;
    display: flex;
   position: relative;
   flex-direction: row;
}
.best{
    width: 50px;
    margin-top: 15px;
    margin-left: 250px;
    color: red;
    font-size: 20px;
    cursor: -webkit-grabbing;
    transition: all 0.2s step-end 0s;
    height: 20px;
}
.best:hover{
    color: rgb(50, 62, 235);
    background: rgb(60, 116, 116);
}
.shop{
    color: #fae9e9;;
    width: 50px;
    margin-top: 15px;
    margin-left: 15px;
    font-size: 20px;
    cursor: -webkit-grabbing;
    transition: all 0.2s step-end 0s;
    height: 20px;
}
.shop:hover{
    color: rgb(235, 50, 112);
    background: #fae9e9;
}
h5{
    color: #fae9e9;
    height: 15px;
    margin-top: 20px;
    margin-left: 150px;
    cursor: -webkit-grabbing;
    transition: all 0.2s step-end 0s;
}
h5:hover{
    color: rgb(184, 37, 32);
}
.conteiner{
    width: 1366px;
    height: 400px;
    background: url(woman.jpg);
    background-size: 100%;
    position: absolute;
}
h1{
    color: white;
    position: relative;
    top: 100px;
    left: 50px;
}
h4{
    color: black;
    position: relative;
    top: 100px;
    left: 50px;
}
h2{
    color: white;
    position: relative;
    top: 100px;
    left: 50px;
}
button{
    margin-top: 250px;
    margin-left: 50px;
    background: rgb(224, 102, 122);
    text-align: center;
    position: relative;
    color: #393939;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.10);
    font-size: 12px;
    font-weight: 700;
    cursor: -webkit-grabbing;
    transition: all 0.2s step-end 0s;
}
button:hover{
    color: rgb(32, 61, 32);
    background: rgb(50, 95, 95);
}
.menu{
    width: 1366px;
    height: 500px;
    background: grey;
    background-size: 100%;
    position: absolute;
    top: 460px;
    display: flex;
   position: absolute;
   flex-direction: row;
}
.dre{
    width: 30%;
    height: 450px;
    margin: 3%;
}
.dre a{
    background: #f2f6f8;
    border: 1px solid #7a7b7e; 
    width: 15px; 
    height: 15px; 
    border-radius: 10px;
    text-align: center;
    position: relative;
    left: 270px;
}
li ul {
    position: absolute; 
    display: none;
    margin-left: 165px; 
    margin-top: -2em; 
   }
   li a {
    display: block; 
    padding: 5px; 
    text-decoration: none; 
    color: #666;
    border: 1px solid #ccc;
    background-color: #f0f0f0; 
    border-bottom: none; 
   }
   li a:hover {
    color: #ffe; 
    background-color: #5488af; 
   }
   li:hover ul { 
    display: block; 
   }
.dre img{
    width: 300px;
    height: 300px;
    position: absolute;
}
.blue{
    font-size: 22px;
    position: relative;
    top: 300px;
}
.strong{
    font-size: 16px;
    margin-top: 10px;
    position: relative;
    top: 305px;
}
.dres{
    width: 30%;
    height: 450px;
    margin: 3%;
}
.dres a{
    background: #f2f6f8;
    border: 1px solid #7a7b7e; 
    width: 15px; 
    height: 15px; 
    border-radius: 10px;
    text-align: center;
    position: relative;
    left: 270px;
}
li ul {
    position: absolute; 
    display: none;
    margin-left: 165px; 
    margin-top: -2em; 
   }
   li a {
    display: block; 
    padding: 5px; 
    text-decoration: none; 
    color: #666;
    border: 1px solid #ccc;
    background-color: #f0f0f0; 
    border-bottom: none; 
   }
   li a:hover {
    color: #ffe; 
    background-color: #5488af; 
   }
   li:hover ul { 
    display: block; 
   }
.dres img{
    width: 300px;
    height: 300px;
    position: absolute;
}
.red{
    font-size: 22px;
    position: relative;
    top: 300px;
}
.sweet{
    font-size: 16px;
    margin-top: 10px;
    position: relative;
    top: 305px;
}
.viev{
    background: rgb(212, 7, 41);
    text-align: center;
    position: relative;
    top: 70px;
    right: 50px;
}
.dress{
    width: 30%;
    height: 450px;
    margin: 3%;
}
.dress a{
    background: #f2f6f8;
    border: 1px solid #7a7b7e; 
    width: 15px; 
    height: 15px; 
    border-radius: 10px;
    text-align: center;
    position: relative;
    left: 270px;
}
li ul {
    position: absolute; 
    display: none;
    margin-left: 165px; 
    margin-top: -2em; 
   }
   li a {
    display: block; 
    padding: 5px; 
    text-decoration: none; 
    color: #666;
    border: 1px solid #ccc;
    background-color: #f0f0f0; 
    border-bottom: none; 
   }
   li a:hover {
    color: #ffe; 
    background-color: #5488af; 
   }
   li:hover ul { 
    display: block; 
   }
.dress img{
    width: 300px;
    height: 300px;
    position: absolute;
}
.just{
    font-size: 22px;
    position: relative;
    top: 300px;
}
.woman{
    font-size: 16px;
    margin-top: 10px;
    position: relative;
    top: 305px;
}
.footer{
    width: 1366px;
    top: 950px;
    height: 60px;
    background: #323232;
    display: flex;
   position: absolute;
   flex-direction: row;
}.ins{
    position: absolute;
    left: 675px;
    top: 20px;
    background: #f2f6f8;
    border: 1px solid #7a7b7e;
    width: 20px;
    height: 20px;
    border-radius: 10px;
 }
  .ins img{
    width: 50%;
    margin: 5px;
 }
 .face{
    position: absolute;
    left: 715px;
    top: 20px;
    background: #f2f6f8;
    border: 1px solid #7a7b7e;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    }
  .face img{
    width: 50%;
    margin: 5px;
   }

