*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.page{
    width: 100%;
    height: 100vh;
    background: url(assets/background.jpg);
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    display:flex;
    background-size: 100%;
    background-position: center;
}
.inputs-section{
    margin: auto;
    width: 900px;
    height: 380px;
    display: flex;
}
.section-one{
    width:60%;
    height: 100%;
    background-color: rgba(14, 63, 70, 0.53);
    display: flex;
    flex-direction: column;
    border-radius: 5px 0px 0px 5px;
}
.text{
    display: flex;
    flex-direction: column;
    color: #C7C4C5;
    margin: 10px 85px;
}
.section-two{
    width: 39%;
    height: 100%;
    background-color: #0E3F46;
    border-radius: 0px 5px 5px 0px;
    display: flex;
    flex-direction: column;
    
    
}
span{
    display: block;
    text-align: left;
    font-size: 13px;
    margin: 2px;
    color: #C7C4C5;
}
span img{
    margin: 0px 7px;
    margin-top: 5px;
}
.features{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
p{
    font-size: 11px;
}
h1{
    margin: auto;
    margin-bottom: 15px;
    margin-top: 41px;
    color: #C7C4C5;
}
h2{
    color: #C7C4C5;
    font-size: 32px;
    height: 15%;
    padding-right: 42%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 10px;
}
.inputs{
    height: 60%;
}
.inline{
    margin: 0px 10px 30px 45px;
}
input[type="text"]{
    background: #0E3F46;
    outline: none;
    border: none;
    border-bottom: 1px solid #C7C4C5;
    padding: 5px;
    color: #C7C4C5;
    width: 80%;
    margin-left: 10px;
    transition: border-bottom 0.3s linear 0s;
}

input[type="text"]:focus{
    border-bottom: 1px solid rgb(255, 255, 255);
}
input[type="submit"]{
    border: 1px solid #C7C4C5;
    background-color: #C7C4C5;
    color: #0E3F46;
    width: 80%;
    font-size: 20px;
    border-radius: 5px;
    height: 50px;
    padding: 5px 10px;
    margin-left: 40px;
    cursor: pointer;
    transition: background-color 0.4s linear 0s;
}
input[type="submit"]:hover{
    border: 1px solid rgb(240, 240, 240);
    background-color: rgb(240, 240, 240);
}
img{
    width: 18px;
}