* {
    margin: 0;
    padding: 0;
} 
body{
    width: 1120px;
    margin: auto;
}
.zoro{
    overflow: hidden;
    background: #FFFCEF;
}
.header{
   display: flex;
   position: relative;
   flex-direction: row;
}
.logo-1{
    width: 25%;
    height: 100px;
}
.logo-1 img{
    position: absolute;
    width: 17%;
    margin-left: 70px;
    margin-top: 10px;
}
.logo-2{
    display: flex;
    width: 60%;
    height: 100px;
}
    .spec{
        margin-top: 55px;
        margin-left: 250px;
        color: rgba(57, 57, 57, 0.18);
        font-size: 11px;
    }
    .stud{
        margin-top: 55px;
        margin-left: 30px;
        color: rgba(57, 57, 57, 0.18);
        font-size: 11px;
    }
    .ins{
        margin-top: 55px;
        margin-left: 30px;
    }
    .ins img{
        width: 40%;
    }
    .face{
        margin-top: 55px;
        margin-left: 30px;
    }
    .face img{
        width: 40%;
    }
    .twit{
        margin-top: 55px;
        margin-left: 30px;
    }
    .twit img{
        width: 40%;
    }
     .eng{
         margin-top: 55px;
         margin-left: 35px;
         color: #393939;
         font-size: 11px;
         font-weight: 700;
     }
.logo-3{
    width: 15%;
    height: 100px;
}
     .button{
         margin-top: 40px;
         margin-left: 40px;
         background:#D2EBCD;
         text-align: center;
         position: relative;
         padding: 8px;
         border-radius: 20px;
         color: #393939;
         box-shadow:  0 0 20px rgba(0, 0, 0, 0.10);
         font-size: 12px;
         font-weight: 700;
         
     }
.conteiner{
    
   display: flex;
   position: relative;
   flex-direction: row;
   height: 600px;
}
      .yyy{
     position: absolute;
     width: 1500px;
     height: 200px;
     background: #D2EBCD;
     z-index: 2;
     transform: rotate(8deg);
     margin-top: 600px;
     margin-left: 200px;
}
.xxx{
    position: absolute;
    width: 500px;
    height: 500px;
    margin-top: 100px;
    background: #4C7188;
    z-index: 1;
    transform: rotate(70deg);
}
    

.children{
width: 50%;
z-index: 3;
}
.children img{
    width: 70%;
    margin-top: 300px;
    margin-left: 100px;
}
.lorem{
    width: 50%;
}
.lorem h1{
    color: #FF7F5B;
    line-height: 2;
    margin-top: 100px;
    font-size: 36px;
    font-weight: 700;
}
.lorem h2{
    color: #393939;
    font-size: 24px;
    font-weight: 700;
}
.lorem h6{
    position: relative;
    top: 10px;
    color: rgba(57, 57, 57, 0.18);
    font-size: 11px;
    font-weight: 700;
}
.fairy{
    background: rebeccapurple;
    position: relative;
    width: 400px;
    height: 100px;
    top: 100px;
    left: 100px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0, 0.05);
}
.fairy-1{
    background: whitesmoke;
    position: absolute;
    width: 100px;
    height: 100px;
    font-size: 24px;
    font-weight: 700;
}
.days{
    line-height: 1.5;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) ;
    color: rgba(57, 57, 57, 0.18);
    font-size: 14px;
    font-weight: 700;
}
.fairy-2{
    background: whitesmoke;
    position: absolute;
    width: 100px;
    height: 100px;
    left: 100px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}
.topics{
    line-height: 1.5;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) ;
    color: rgba(57, 57, 57, 0.18);
    font-size: 14px;
    font-weight: 700;
}
.fairy-3{
    background: whitesmoke;
    position: absolute;
    width: 100px;
    height: 100px;
    left: 200px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}
.teachers{
    line-height: 1.5;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color: rgba(57, 57, 57, 0.18);
    font-size: 14px;
    font-weight: 700;
}
.fairy-4{
    background: whitesmoke;
    position: absolute;
    width: 100px;
    height: 100px;
    left: 300px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}
.exams{
    line-height: 1.5;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color: rgba(57, 57, 57, 0.18);
    font-size: 14px;
    font-weight: 700;
}
.footer{
    display: flex;
    position: relative;
    flex-direction: row;
    height: 150px;
    z-index: 3;
}
     .spec-1{
        left: 530px;
        position: absolute;
        top: 100px;
        color: rgba(57, 57, 57, 0.18);
        font-size: 11px;
     }
      .stud-1{
        position: absolute;
        top: 100px;
        left: 600px;
        color: rgba(57, 57, 57, 0.18);
        font-size: 11px;
     }
     .ins-1{
        position: absolute;
        top: 100px;
        left: 675px;
     }
      .ins-1 img{
     width: 40%;
     }
     .face-1{
        position: absolute;
      top: 100px;
     left: 730px;
        }
      .face-1 img{
     width: 40%;
       }
     .twit-1{
        position: absolute;
        top: 100px;
        left: 790px;
      }
      .twit-1 img{
     width: 40%;
      }
     .eng-1{
        position: absolute;
     top: 100px;
     left: 850px;
     color: #393939;
     font-size: 11px;
     font-weight: 700;
     }
      .logo-4 img{
       position: absolute;
       left: 850px;
     width: 17%;
      }