
/* Отчистка браузера от стандартой стилизации элементов HTML */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    font-family: 'Merriweather', serif;
}

img {
    width:100%;
}

a {
    text-decoration: none;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

input {
    background: none;
    border: none;
}

li {
    list-style: none;
}

/*_____________________________________________*/


header {
    background: center / cover no-repeat url(../img/header.jpg);
}

.flex {
    display: flex;
    flex-direction: row;
}

.flex-center {
    align-items: center;
}

.flex-auto {
    flex: auto;
}

.reverse {
    flex-direction: row-reverse;
}

nav ul {
    padding: 24px;
}

nav li {
    padding: 16px 24px;
    font-size: 18px;
    margin: 0 10px;
    border:1px solid transparent;
}

nav a {
    color: #3c3c3c;
}

nav li:hover {
    border: 1px solid #3c3c3c;
}

.heading {
    padding: 15% 17%;
    text-align: center;
}

.heading h1 {
    position: relative;
}

.heading h1:after {
    content: '';
    background: center / contain no-repeat url(../img/header_dilimeter.png);
    position: absolute;
    bottom: -50px;
    left: 0;
    right: 0;
    margin: auto;
    min-width: 180px;
    max-width: 220px;
    height: 50px;
}

@media (min-width:901px) and (max-width:1166px) {
    nav ul li:first-child a{
        color: #ffffff;
        background: #3c3c3c;
        padding: 0px 8px;
    }
}

@media (min-width:840px) and (max-width:900px) {
    nav li:first-child a, nav li:nth-child(2) a {
        color: #ffffff;
        background: #3c3c3c;
        padding: 0px 8px;
    }
    nav li:first-child:hover , nav ul li:nth-child(2):hover {
        border: 1px solid transparent;
        background: #3c3c3c;
    }
}

@media (max-width:839px) {
    .flex {
        flex-direction: column;
    }
    nav li {
        text-align: center;
        background: rgba(61, 78, 76, 0.23);
        margin: 2px 0;
    }
    nav a {
        color: #f9f9f9;
    }
}
