* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #E9E8E3;
    height: 100vh;
}

.container {
    max-width: 1350px;
    color: black;
    height: 100vh;
    margin: auto;
}

.redblock {
    min-width: 100%;
    height: 40px;
    background: red;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
}

.htitle {
    width: 200px;
    background: #E9E8E3;
    height: 100px;
    margin-left: 18%; 
}

nav {
    display: inline-block;
    margin-left: 30%;
}

a {
    text-decoration: none;
    color: white;
    margin: 0 10px;
}